
.JobContainerPart1 {
  max-height: 400px;
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  position: relative;
}

.JobContainerPart1 .overbox {
  overflow: hidden;
  position: relative;
  min-height: 400px;
  display: table;
  width: 100%;
}

.JobContainerPart1 .overbox .row{
  display: table-cell;
  vertical-align: middle;
}

.JobContainerPart1 .title {
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
}

.JobContainerPart1 .breadcrumb{
  background-color: transparent;
  justify-content: center;
}

.JobContainerPart1 li{
  margin: 0;
}

.JobContainerPart1 .breadcrumb-item+.breadcrumb-item::before{
  content: '-';
  color: white;
}

.JobContainerPart1 li a{
  text-decoration: none;
  color: white;
}

.JobContainerPart1 .breadcrumb-item.active{
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.job #advanced {
  width: 900px;
  height: 900px;
  top: -35%;
  left: 25%;
  z-index: 25;
  border: 1px solid red;
  position: absolute;
  background-color: transparent;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  animation-name: spin;
  animation-duration: 8s;
  /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Spinning, gradient circle; CSS only! */
.job #advanced1 {
  width: 900px;
  height: 900px;
  bottom: -15%;
  right: -20%;
  z-index: 25;
  border: 1px solid red;
  position: absolute;
  background-color: transparent;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  animation-name: spin;
  animation-duration: 12s;
  /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.JobContainerPart4 {
  /* max-height: 900px; */
  /* min-height: 900px; */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.job .titlepart2 {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  /* animation: type 3s steps(60, end); */
}

.job .contacttitle2 {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: 20px 0px;
}

.job .spacinginside {
  padding: 0% 5% 5% 5%;
}

.job .joinusbtn {
  /* margin-top: 10%; */
  background-color: transparent;
  border: 1px solid red;
  padding: 5px 10px 5px 10px;
  color: red;
  position: relative;
  width: 200px;
  z-index: 50;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  text-align: left;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.job .blackbox {
  position: absolute;
  background-color: black;
  opacity: 1;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  display: none;
  width: 100%;
  -webkit-animation: rotateIn 0.2s linear;
  -moz-animation: rotateIn 0.2s linear;
  animation: rotateIn 0.2s linear;
}

.job .joinusbtn:hover {
  border: 0px;
  color: white;
}

.job .joinusbtn:hover .blackbox {
  display: block;
}

.job .form-check-input {
  position: relative!important;
  /* right: 0; */
  background-color: #ed1f24;
  color: #ffffff;
}

.job .spacingbottom0 {
  padding-bottom: 0;
}

.job .form-check-inline {
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding: 0 20px;
  width: auto;
}

.job .box4spacing {
  height: 250px;
}

.job .titlepart4 {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 3px;
  transform: scale(1.2);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(60, end);
}

.job .listtitle {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.job .listitem {
  color: white;
  font-size: 13px;

}

.job .listitem li {
  list-style: none;
  margin: 5px 0px;
  display: list-item;
}

.JobContainerPart5 {
  max-height: 775px;
  min-height: 775px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.JobContainerPart6
{
  max-height: 500px;
  min-height: 500px;
  width: 100%;
  height: 100%;
}

.JobContainerPart6inner
{
  max-height: 600px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  margin-top: -6.5%;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  position: relative;
}

.JobContainerPart7
{
  padding: 15px 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.job .form-control {
  animation-name: hide, slideIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  opacity: 1;
}

.floatinup1 {
  -webkit-animation: fadeInUp 0.2s linear;
  -moz-animation: fadeInUp 0.2s linear;
  animation: fadeInUp 0.2s linear;
}

.floatinup2 {
  -webkit-animation: fadeInUp 0.4s linear;
  -moz-animation: fadeInUp 0.4s linear;
  animation: fadeInUp 0.4s linear;
}

.floatinup3 {
  -webkit-animation: fadeInUp 0.6s linear;
  -moz-animation: fadeInUp 0.6s linear;
  animation: fadeInUp 0.6s linear;
}

.floatinup4 {
  -webkit-animation: fadeInUp 0.8s linear;
  -moz-animation: fadeInUp 0.8s linear;
  animation: fadeInUp 0.8s linear;
}

.floatinup5 {
  -webkit-animation: fadeInUp 1s linear;
  -moz-animation: fadeInUp 1s linear;
  animation: fadeInUp 1s linear;
}

.floatinup6 {
  -webkit-animation: fadeInUp 1s linear;
  -moz-animation: fadeInUp 1s linear;
  animation: fadeInUp 1s linear;
}

.floatinup7 {
  -webkit-animation: fadeInUp 1.2s linear;
  -moz-animation: fadeInUp 1.2s linear;
  animation: fadeInUp 1.2s linear;
}

.floatinup8 {
  -webkit-animation: fadeInUp 1.4s linear;
  -moz-animation: fadeInUp 1.4s linear;
  animation: fadeInUp 1.4s linear;
}

.floatinup9 {
  -webkit-animation: fadeInUp 1.6s linear;
  -moz-animation: fadeInUp 1.6s linear;
  animation: fadeInUp 1.6s linear;
}

.floatinup10 {
  -webkit-animation: fadeInUp 1.8s linear;
  -moz-animation: fadeInUp 1.8s linear;
  animation: fadeInUp 1.8s linear;
}

.floatinup11 {
  -webkit-animation: fadeInUp 2s linear;
  -moz-animation: fadeInUp 2s linear;
  animation: fadeInUp 2s linear;
}

.floatinup12 {
  -webkit-animation: fadeInUp 2.2s linear;
  -moz-animation: fadeInUp 2.2s linear;
  animation: fadeInUp 2.2s linear;
}

.floatinup13 {
  -webkit-animation: fadeInUp 2.4s linear;
  -moz-animation: fadeInUp 2.4s linear;
  animation: fadeInUp 2.4s linear;
}

.floatinup14 {
  -webkit-animation: fadeInUp 2.6s linear;
  -moz-animation: fadeInUp 2.6s linear;
  animation: fadeInUp 2.6s linear;
}

.floatinup15 {
  -webkit-animation: fadeInUp 2.8s linear;
  -moz-animation: fadeInUp 2.8s linear;
  animation: fadeInUp 2.8s linear;
}

.floatinup16 {
  -webkit-animation: fadeInUp 3s linear;
  -moz-animation: fadeInUp 3s linear;
  animation: fadeInUp 3s linear;
}

.floatinup17 {
  -webkit-animation: fadeInUp 3.2s linear;
  -moz-animation: fadeInUp 3.2s linear;
  animation: fadeInUp 3.2s linear;
}

.floatinup18 {
  -webkit-animation: fadeInUp 3.2s linear;
  -moz-animation: fadeInUp 3.2s linear;
  animation: fadeInUp 3.2s linear;
}

.JobContainerPart6inner {
  background-image: url("~@/assets/img/bgimg/footebg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.JobContainerPart7 {
  background-color: #ed1e23;
  background-size: cover;
}

.JobContainerPart5 {
  background-image: url("~@/assets/img/bgimg/sloganbg.png");
  background-repeat: no-repeat;
}

.job .reservetitle {
  color: white;
  letter-spacing: 1px;
}

a:not([href]) {
  border: 4px solid white;
  color: white;
  display: inline-block;
  margin-top: 5%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  z-index: 99;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

a:not([href]) .label {
  color: white;
}

a:not([href]) .label,
a:not([href]) .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}



a:not([href]) .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a:not([href]) .label:hover {
  color: white;
}

a:not([href]):hover {
  color: white;
  background-color: #ed1f24 !important;

}

a:not([href]) .icon-arrow {
  fill: white;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

a:not([href]) .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

a:not([href]) .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

a:not([href]):hover .label {
  transform: translateX(-52px);
  color: white;
}

a:not([href]):hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

a:not([href]):hover .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

a:not([href]):active {
  border-color: #FD6154;
  color: #FD6154;
}

a:not([href]):active .icon-arrow {
  fill: #FD6154;
}

.b:not([href]) {
  border: 4px solid black;
  color: black !important;
  display: inline-block;
  margin-top: 5%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  z-index: 99;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

.b:not([href]) .label {
  color: black;
}

.b:not([href]) .label,
.b:not([href]) .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}



.b:not([href]) .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.b:not([href]) .label :hover {
  color: white;
}

.b:hover {
  color: white;
  background-color: #ed1f24 !important;
  border: 4px solid white;
}

.b:not([href]) .icon-arrow {
  fill: black;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

.b:not([href]) .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

.b:not([href]) .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

.b:not([href]):hover .label {
  transform: translateX(-52px);
  color: white;
}

.b:not([href]):hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

.b:not([href]):hover .icon-arrow.after {
  fill: white;
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

.b:not([href]):active {
  border-color: #FD6154;
  color: #FD6154;
}

.b:not([href]):active .icon-arrow {
  fill: #FD6154;
}

@media(max-width: 1199px){
  .job .titlepart4 {
    font-size: 3rem;
  }
}

@media (max-width: 1023px){
  .job .titlepart4 {
    font-size: 2rem;
  }
}

@media (max-width: 767px){
  .job .titlepart4 {
    font-size: 1rem;
  }

  .job .titlepart2 {
    font-size: 1.8rem;
  }

  .job .box4spacing {
    height: 200px;
  }

  .JobContainerPart5{
    min-height: 400px;
    max-height: 400px;
  }

  .JobContainerPart6inner .box4spacing{
    height: 180px;
  }

  .JobContainerPart6inner img{
    margin-bottom: 30px;
  }

  .job .reservetitle {
    letter-spacing: 0px;
    font-size: 12px;
  }
}
