  <template>
    <div class="job">
      <div class="whitebg">
        <div class="JobContainerPart4">
          <div class="container">
            <div class="titlepart2" data-aos="fade" data-aos-easing="ease">
              {{ $t('boost_your_career_text') }}
            </div>
            <div class="contacttitle2" data-aos="fade" data-aos-easing="ease"> {{ $t('apply_job_desc') }} </div>
            <div class="col-12">
              <form>
                <div class="form-group row">
                  <div class="col-12 spacinginside spacingbottom0">
                    <label class="floatinup1" for="exampleFormControlInput1">{{ $t('form9') }}</label>
                    <b-form-checkbox-group v-model="selected" :options="options" plain></b-form-checkbox-group>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-12 col-md-6 spacinginside spacingbottom0" >
                    <label class="floatinup1" for="exampleFormControlInput1">{{ $t('form1') }}</label>
                    <input type="text" class="floatinup1 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                    <br>
                    <label class="floatinup2" for="exampleFormControlInput1">{{ $t('form2') }}</label>
                    <input type="text" class="floatinup2 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                    <br>
                    <label class="floatinup3" for="exampleFormControlInput1">{{ $t('form5') }}</label>
                    <input type="email" class="floatinup3 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                    <br>
                    <label class="floatinup4" for="exampleFormControlInput1">{{ $t('form6') }}</label>
                    <input type="text" class="floatinup4 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                    <br>
                    <label class="floatinup5" for="exampleFormControlInput1">{{ $t('form10') }}</label>
                    <b-form-select :options="options_country" class="form-control"></b-form-select>
                    <br>
                  </div>
                  <div class="col-12 col-md-6 spacinginside spacingbottom0">
                    <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form11') }}</label>
                    <b-form-select :options="options_position" class="form-control"></b-form-select>
                    <br>
                    <br>
                    <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form12') }}</label>
                    <b-form-select :options="options_expertise" class="form-control"></b-form-select>
                    <br>
                    <br>
                    <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form13') }}</label>
                    <b-form-select :options="options_expertise" class="form-control"></b-form-select>
                    <br>
                    <br>
                    <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form14') }}</label>
                    <b-form-select :options="options_expertise" class="form-control"></b-form-select>
                    <br>
                    <br>
                    <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form15') }}</label>
                    <b-form-file plain></b-form-file>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-12 spacinginside">
                    <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form16') }}</label>
                    <b-form-textarea placeholder="Maximum 500 words" rows="5"></b-form-textarea>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-12 col-md-6 spacinginside">
                    <a class="b"  data-aos="slide-up" data-aos-easing="ease" >
                      <svg class="icon-arrow before">
                        <use xlink:href="#arrow"></use>
                      </svg>
                      <span class="label">Apply Now</span>
                      <svg class="icon-arrow after">
                        <use xlink:href="#arrow"></use>
                      </svg>
                    </a>
                    <svg style="display: none;">
                      <defs>
                        <symbol id="arrow" viewBox="0 0 35 15">
                          <title>Arrow</title>
                          <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                        </symbol>
                      </defs>
                    </svg>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

<script src="./ApplyJobContent.js"></script>
<style src="./ApplyJobContent.css"></style>
