<template>
  <nav class="WebNavTop navbar row">
    <div class="col-2 no_pd_both">
      <router-link to="/home">
        <img src="@/assets/img/logo/mainlogo.png" class="logo">
      </router-link>
    </div>
    <div class="col-10 no_pd_both">
          <div  @click="openmodal" class="hamburger float_r">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
  </div>
    </div>
  </nav>
</template>
<script src="./WebNav.js"></script>
<style src="./WebNav.css"></style>
