.hamburger {
    display: inline-block;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
    z-index: 55;
    position: relative;
}
.hamburger .bar1,.bar2,.bar3 {
      width: 30px;
      height: 3px;
      margin: 3px 0;
      transition: 0.4s;
      background-color: black;
    }
  
.hamburger .bar1.change1 {
      -webkit-transform: rotate(-45deg) translate(-5px, 7px);
      transform: rotate(-45deg) translate(-5px, 7px);
      background-color: black;
    }

.hamburger .bar2 .change2 {
      opacity: 0;
    }
  
.hamburger.bar3 .change3 {
      -webkit-transform: rotate(45deg) translate(-4px, -6px);
      transform: rotate(45deg) translate(-4px, -6px);
      background-color: black;
    }

.navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0px;
        z-index: 1;
        position: relative;
    }

.logo
{
    width:100%;
    height:100%;
}

button {  
     padding: 2px;    
     border: 1px solid red;    
     font-size: 12px;  
     margin-left: 10px;
     background-color: transparent;
}

.lang-box
{
    float: right;
    margin-right: 10px;
}

.langbtn
{
    float: right;
    text-transform: uppercase;
    margin-right: 15px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    color:black;
    font-weight: bold;
    border:1px solid black;
}

.langbtn:hover{
    background: rgba(0, 0, 0, 0.05)
}