<template>
  <div class="TopBanner">
      <b-container>
        <div class="overbox">
          <div class="advanced"></div>
          <div class="advanced1"></div>
          <div class="row justify-content-start">
            <div class="col-12">
              <div class="title">
                {{ page_title }}
              </div>
              <b-breadcrumb :items="items"></b-breadcrumb>
            </div>
          </div>
        </div>
      </b-container>
    </div>
</template>

<script src="./TopBanner.js"></script>

<style src="./TopBanner.css"></style>
