.TopBanner {
  max-height: 400px;
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  position: relative;
}

.TopBanner .overbox {
  overflow: hidden;
  position: relative;
  min-height: 400px;
  display: table;
  width: 100%;
}

.TopBanner .overbox .row {
  display: table-cell;
  vertical-align: middle;
}

.TopBanner .title {
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.TopBanner .breadcrumb {
  background-color: transparent;
  justify-content: center;
}

.TopBanner li {
  margin: 0;
}

.TopBanner .breadcrumb-item+.breadcrumb-item::before {
  content: '-';
  color: white;
}

.TopBanner li a {
  text-decoration: none;
  color: white;
}

.TopBanner .breadcrumb-item.active {
  color: white;
}
