<template>
<div>
    <div class="HomeContainerPart1" v-bind:style="{ height: cssHome.part1height*(7.5/10) + 'px','padding-top': cssHome.part1height*(1/10) + 'px' }">
            <div class="container">
                    <div class="overbox" v-bind:style="{ height: cssHome.part1height*(5/10) + 'px'}">
                        <div id="advanced"></div>
                        <div id="advanced1"></div>
                        <div class="row justify-content-start">
                            <div class="col-11 col-sm-11 col-md-7 col-lg-7 col-xl-7">
                                <div class="title1">
                                {{ $t('box1titile1') }}
                                </div>
                                <div class="paragraph">
                                {{ $t('box_description1') }}
                                </div>
                                <div>
                                    <a @click="openlink('/about')">
                                        <svg class="icon-arrow before">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                        <span class="label">   {{ $t('about') }}</span>
                                        <svg class="icon-arrow after">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </a>
                                    <svg style="display: none;">
                                            <defs>
                                                <symbol id="arrow" viewBox="0 0 35 15">
                                                        <title>Arrow</title>
                                                        <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                                                </symbol>
                                            </defs>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="HomeContainerPart2" v-bind:style="{ height: cssHome.part1height1*(8.5/10) + 'px'}" data-aos="slide-up" data-aos-easing="ease">
        <img class="imagespin" src="@/assets/img/bgimg/circle1122.png">
            <div class="container">
                    <div class="titlepart2"  v-bind:style="{ 'font-size' : cssHome.part1height*(0.35/10) + 'px'}">
                            {{ $t('box2titile') }}
                            <br >
                            <br >
                    </div>
                    <div class="row justify-content-center">
                            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                                    <div class="phoneleft">
                                            <i class="fas fa-caret-left"></i>
                                    </div>
                                    <div class="phoneright">
                                            <i class="fas fa-caret-right"></i>
                                    </div>
                                    <b-carousel id="carousel-1" v-model="slide" :interval="4000" controls background="transparent" style="text-shadow: 1px 1px 2px #333;" @sliding-start="onSlideStart" @sliding-end="onSlideEnd">
                                                <!-- Slide with blank fluid image to maintain slide aspect ratio -->
                                                <b-carousel-slide  img-blank img-alt="Blank image"  :key="item.index"  v-for="item in expectwork">
                                                    <div  class="productboxinnerp" @click="openlink('/work/' + item.index)">
                                                        <div   class="productTitlepage">
                                                            <div :class="item.csslevel1"></div>
                                                            <div class="fontnoramproduct">{{item.index}}</div>
                                                            <div class="fonttitleproduct">{{item.name | translate}}</div>
                                                        </div>
                                                        <img   class="productboxinnerimg"  v-bind:src="require('@/assets/img/bgimg/homework/Hover/'+item.img)">
                                                    </div>
                                                </b-carousel-slide>
                                    </b-carousel>
                            </div>
                    </div>
            </div>
    </div>
    <div class="phoneHomeContainerPart2 HomeContainerPart3" v-bind:style="{ height: cssHome.part1height1 + 'px'}"  data-aos="slide-up" data-aos-easing="ease">
            <div class="container">
                 <br>
                <div class="titlepart3" v-bind:style="{ 'font-size' : cssHome.part1height*(0.35/10) + 'px'}">
                    {{ $t('box1titile2') }}
                </div>
                <br>
                <div class="imagespace">
                       <img class="img100" src="@/assets/img/bgimg/growtogther.png">
                </div>
                <div class="row">
                        <div class="col-12">
                            <div class="workwithustitlep"> {{ $t('box2title1') }} </div>
                            <div class="workwithusfont"> {{ $t('box2title2') }} </div>
                                        <br >
                                        <a class="b" data-aos="slide-up" data-aos-easing="ease" @click="openlink('/jobs')">
                                        <svg class="icon-arrow before">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                        <span class="label">Best Jobs For you</span>
                                        <svg class="icon-arrow after">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                        </a>
                                        <svg style="display: none;">
                                        <defs>
                                            <symbol id="arrow" viewBox="0 0 35 15">
                                            <title>Arrow</title>
                                            <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                                            </symbol>
                                        </defs>
                                        </svg>

                        </div>
                </div>
            </div>
    </div>
    <div class="whitebg">
        <div class="HomeContainerPart4" v-bind:style="{ height: cssHome.part1height1*(6.5/10) + 'px'}" data-aos="slide-up" data-aos-easing="ease">
            <div class="container">
                <div class="titlepart2" v-bind:style="{ 'font-size' : cssHome.part1height*(0.35/10) + 'px'}">
                        <br>{{ $t('box3title1') }}
                </div>
                <div class="contacttitle2"> {{ $t('box3title2') }} </div>
                    <div class="justify-content-center row">
                            <a class="b" data-aos="slide-up" @click="showModal()" data-aos-easing="ease" >
                                 <svg class="icon-arrow before">
                                      <use xlink:href="#arrow"></use>
                                 </svg>
                                 <span class="label">{{ $t('contact') }}</span>
                                 <svg class="icon-arrow after">
                                        <use xlink:href="#arrow"></use>
                                 </svg>
                            </a>
                            <svg style="display: none;">
                                 <defs>
                                      <symbol id="arrow" viewBox="0 0 35 15">
                                                 <title>Arrow</title>
                                                 <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                                        </symbol>
                                  </defs>
                             </svg>
                    </div>
            </div>
        </div>
    </div>
</div>
</template>
<script src="./PhoneHomeContent.js"></script>
<style src="./PhoneHomeContent.css"></style>
