<template>
      <div class="workcontentp HomeContainerPart3p">
            <div class="container relative">
                  <div class="row justify-content-center">
                    <div :class="selectitem.css">
                       <div  v-bind:style="{ 'padding-top': cssWork.extrapadding + '%'}" :key="selectitem.index">
                                       <div class="a_leftp animate1p" v-bind:style="{ 'top': cssWork.part1height1*(1.5/10) + 'px'}">
                                        <i  @click="prev(selectitem.index)" class="fas fa-chevron-left"></i>
                                      </div>
                                      <div class="a_rightp animate1p" v-bind:style="{ 'top': cssWork.part1height1*(1.5/10) + 'px'}">
                                        <i  @click="next(selectitem.index)" class="fas fa-chevron-right"></i>
                                      </div>
                                      <img v-bind:style="{ 'width': cssWork.part1height1*(1.2/10) + 'px'}" class="categoryimgp animate2p" v-bind:src="require('@/assets/img/bgimg/iconProduct/'+selectitem.imgcategory)">
                              <div class="titleworkp animate2p">{{selectitem.title | translate}}</div>
                              <div class="row justify-content-start">
                                    <div class="imgbgboxp col-12 no_pd_both">
                                                <div class="row spaceleft" >
                                                <div :class="item2.class" :key="item2.index1"  v-for="item2 in selectitem.bgimg">
                                                         <img  v-bind:src="require('@/assets/img/bgimg/ourwork/'+item2.data)" class="img100">
                                                </div>
                                                 </div>
                                                <img :class="item1.class" :key="item1.index1"  v-for="item1 in selectitem.moreimg"  v-bind:src="require('@/assets/img/bgimg/ourwork/'+item1.data)">
                                    </div>
                                    <div class="col-12 spacingboth" v-bind:class="{ spacingbothv1:selectitem.index===2}">
                                              <div  v-bind:style="{'padding-top': cssWork.part1height1*(0.3/10) + 'px'}"  class="animate3p paragraphtitlep boldp ">{{selectitem.description1 | translate}}</div>
                                               <div>
                                                      <ul class="paragp animate3p">
                                                            <li v-bind:style="{ 'font-size': cssWork.part1height*(0.4/10) + 'px'}" :key="item.index1"  v-for="item in selectitem.paragraph">
                                                                   <div :class="item.class">{{item.data | translate}}</div>
                                                            </li>
                                                      </ul>
                                               </div>
                                     </div>
                                        <div class="col-12 spacingboth" v-bind:class="{ spacingbothv1:selectitem.index===2}" >
                                               <div>
                                                      <ul class="paraglvl2p animate3p">
                                                            <li v-bind:style="{ 'font-size': cssWork.part1height*(0.4/10) + 'px'}" :key="item.index1"  v-for="item in selectitem.paragraphmore">
                                                                   <div :class="item.class" >{{item.data | translate}}</div>
                                                            </li>
                                                      </ul>
                                               </div>
                                     </div>
                              </div>
                        </div>
                      </div>
                  </div>
            </div>
      </div>
</template>
<script src="./PhoneWorkContent.js"></script>
<style src="./PhoneWorkContent.css"></style>
