.workcontentp
{
  min-height: 1000px;
  top: -10%;
  background-attachment: fixed;
position: relative;
}

.class1p
{
  color:black;
  position: relative;
  text-align: center;
  padding: 5% 0px 15% 0px;
}

.spaceleft
{
margin: 0;
position: absolute;
top:0;
}

.fadeinimgp
{
  opacity:0;
  animation-name: hide, flipInY;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1; 
  -moz-animation-name: hide, flipInY;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1; 
  -webkit-animation-name: hide, flipInY;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1; 
  -o-animation-name: hide, flipInY;
  -o-animation-duration: 2s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1; 
}

.fadeinimgp:nth-child(1)
{
  animation-delay: 0s, 0.5s;
  -moz-animation-delay: 0s, 0.5s;
  -webkit-animation-delay: 0s, 0.5s;
  -o-animation-delay: 0s, 0.5s
}

.fadeinimgp:nth-child(2)
{
  animation-delay: 0s, 1s;
  -moz-animation-delay: 0s, 1s;
  -webkit-animation-delay: 0s, 1s;
  -o-animation-delay: 0s, 1s;
}

.fadeinimgp:nth-child(3)
{
  animation-delay: 0s, 1.5s;
  -moz-animation-delay: 0s, 1.5s;
  -webkit-animation-delay: 0s, 1.5s;
  -o-animation-delay: 0s, 1.5s;
}
.fadeinimgp:nth-child(4)
{
  animation-delay: 0s, 1.8s;
  -moz-animation-delay: 0s, 1.8s;
  -webkit-animation-delay: 0s, 1.8s;
  -o-animation-delay: 0s, 1.8s;
}

.categoryimgp
{
  width:8rem;
}

.listfontp
{
  font-weight: 700;
  margin-top: -15px;
  font-size: 1rem;
}

.relative
{
  position: relative;
}

.indexp{
  color:#ed1e23;
  font-size: 30rem;
  font-weight: bold;
  opacity: 0.3;
  width: 100%;
  margin-left:5px;
  position: absolute;
  letter-spacing: 40px;
  top: -50px;
  text-align: center;
}

.imgboxp
{
  padding-top: 0%;
  padding-left:0%
}

.imgbgboxp
{
position: relative;
text-align: center;;
}

.titleworkp
{
  color:#ed1e23;
  text-align: center;
  text-transform: uppercase;
  font-size:1.5rem;
  width: 100%;
  padding: 0px 10%;
  font-weight: bold;
  margin-top: 5px;
}

.paragraphtitlep
{
  font-size: 1.5rem;
  color:black;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.first
{
  position: relative;
  z-index: 54;
}

.second
{
  position: absolute;
  z-index: 55;
  left: 0;
  top:0;
}

.third
{
  position: absolute;
  z-index: 56;
  left: 0;
  top:-10px;
}

.paragp
{
  color: black;
  padding-inline-start: 0px;
}

.paragp li{
  color:black;
  text-align: left;
  display: list-item;
  margin:0px;
  padding-top: 20px; 
  letter-spacing: 1px;
  font-size: 1rem;
}

.paragp li:hover{
  color:black;

}

.boldp
{
  font-weight: 790;
  text-transform: uppercase;
  font-size:1.3em;
  letter-spacing: 1px;
}


.bold1p
{
  font-weight: 790;
  text-transform: uppercase;
  font-size:1.3rem;
  margin-top: 20px;
  letter-spacing: 1px;
}

.colorp{
  padding-inline-start: 0px;
}

.paraglvl2p
{
  color: black;
  padding-right: 0px;
  padding-inline-start: 0px;
}

.paraglvl2p li{
  color:black;
  text-align: left;
  display: list-item;
  margin:0px;
  padding-top: 20px; 
  letter-spacing: 1.5px;
  font-size: 1rem;
}
.paraglvl2p li:first-child{
padding-top: 0px;
}

.paraglvl2p li:hover{
  color:black;

}


.a_leftp
{
position: absolute;
left:0;
top:40px;
z-index: 70px;
font-size: 3rem;
color: #ed1e23;
}

.a_rightp
{
  position: absolute;
  right:0;
  z-index: 52;
  z-index: 70px;
  font-size: 3rem;
  color: #ed1e23;
}

.notop
{

}

.notop
{

}

.animate1p
{
  animation-name: hide, bounceIn;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1; 
  -moz-animation-name: hide, bounceIn;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1; 
  -webkit-animation-name: hide, bounceIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1; 
  -o-animation-name: hide, bounceIn;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1; 
}


.animate2p
{
  animation-name: hide, fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1; 
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1; 
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1; 
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1; 
  animation-delay: 0s, 0.5s;
  -moz-animation-delay: 0s, 0.5s;
  -webkit-animation-delay: 0s, 0.5s;
  -o-animation-delay: 0s, 0.5s;
}

.animate3p
{
  animation-name: hide, slideInLeft1;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1; 
  -moz-animation-name: hide, slideInLeft1;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1; 
  -webkit-animation-name: hide, slideInLeft1;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1; 
  -o-animation-name: hide, slideInLeft1;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1; 
  animation-delay: 0s, 1s;
  -moz-animation-delay: 0s, 1s;
  -webkit-animation-delay: 0s, 1s;
  -o-animation-delay: 0s, 1s;
}

.animate4p
{
  animation-name: hide, slideInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1; 
  -moz-animation-name: hide, slideInRight;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1; 
  -webkit-animation-name: hide, slideInRight;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1; 
  -o-animation-name: hide, slideInRight;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1; 
  animation-delay: 0s, 1s;
  -moz-animation-delay: 0s, 1s;
  -webkit-animation-delay: 0s, 1s;
  -o-animation-delay: 0s, 1s;
}

.animatef
{
  animation-name: hide, fadeIn;
  animation-duration: 2.5s;
  animation-timing-function:ease-in;
  animation-iteration-count:3s;
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2.5s;
  -moz-animation-timing-function:ease-in;
  -moz-animation-iteration-count: 1; 
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1; 
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2.5s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1; 
  animation-delay: 0s, 2s;
  -moz-animation-delay: 0s, 2s;
  -webkit-animation-delay: 0s, 2s;
  -o-animation-delay: 0s, 2s;
}

.animates
{
  animation-name: hide, zoomIn;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1; 
  -moz-animation-name: hide, zoomIn;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1; 
  -webkit-animation-name: hide, zoomIn;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1; 
  -o-animation-name: hide, zoomIn;
  -o-animation-duration: 3s;
  -o-animation-timing-function:ease-in;
  -o-animation-iteration-count: 1; 
  animation-delay: 0s, 2.5s;
  -moz-animation-delay:  0s, 2.5s;
  -webkit-animation-delay: 0s, 2.5s;
  -o-animation-delay:  0s, 2.5s;
}


.animatel
{
  animation-name: hide, bounceIn;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1; 
  -moz-animation-name: hide, bounceIn;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1; 
  -webkit-animation-name: hide, bounceIn;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1; 
  -o-animation-name: hide, bounceIn;
  -o-animation-duration: 3s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1; 
  animation-delay: 0s, 2.5s;
  -moz-animation-delay:  0s, 2.5s;
  -webkit-animation-delay: 0s, 2.5s;
  -o-animation-delay:  0s, 2.5s;
}

.spacingboth
{
  padding: 0 6%;
}

.spacingbothv1
{
  padding: 0px 20% 0% 6%; 
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes slideInLeft1 {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft1 {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {

    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {

    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes hide
{ 
    from { opacity: 0; } to { opacity: 0 }
}
@-moz-keyframes hide
{ 
    from { opacity: 0; } to { opacity: 0 }
}
@-webkit-keyframes hide
{ 
    from { opacity: 0; } to { opacity: 0 }
}
@-o-keyframes hide
{ 
    from { opacity: 0; } to { opacity: 0 }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}


@media (min-width: 1024px)
{
.bold1p
{
font-size: 3rem;
}

.boldp
{
    font-size: 3rem;
}

}