html {
  height: 100%;
  box-sizing: border-box;
  background-color: white;
}

html :before,
:after {
  box-sizing: inherit;
}


.no_pd_left {
  padding-left: 0px;
}

.no_pd_right {
  padding-right: 0px;
}

.no_pd_both {
  padding-left: 0px;
  padding-right: 0px;
}

.auto_margin_left {
  margin-left: auto;
}

.auto_margin-right {
  margin-right: auto;
}

.float_r {
  float: right;
}

.float_l {
  float: left;
}

.HomeContainerPart1,
.TopBanner {
  background-image: url("~@/assets/img/bgimg/part113.png");
  background-repeat: no-repeat;
}


.HomeContainerPart2 {
  background-image: url("~@/assets/img/bgimg/part22.png");
  background-repeat: no-repeat;
}

.PhoneJobsContainerPart2 {
  background-image: url("~@/assets/img/bgimg/redbg.png") !important;
  background-repeat: no-repeat;
}


.HomeContainerPart3 {
  background-image: url("~@/assets/img/bgimg/workwithusbg.png");
  background-repeat: no-repeat;
}

.HomeContainerPart4 {
  background-image: url("~@/assets/img/bgimg/contactusbg.png");
  background-repeat: no-repeat;
}


.HomeContainerPart5 {
  background-image: url("~@/assets/img/bgimg/sloganbg.png");
  background-repeat: no-repeat;
}

.HomeContainerPart6inner {
  background-image: url("~@/assets/img/bgimg/footebg.png");
  background-repeat: no-repeat;
}

.JobContainerPart4 {
  background-image: url("~@/assets/img/bgimg/workwithusbg.png");
  background-repeat: no-repeat;
}

.navitem li:hover {

  list-style-image: url("~@/assets/img/bgimg/closebtn.png") !important;
}



.HomeContainerPart7 {
  background-color: #ed1e23;
}


.font_center {
  text-align: center;
}

.font_left {
  text-align: left;
}

.font_right {
  text-align: right;
}

.img100 {
  width: 100%;
}

.img75 {
  width: 75%;
}

.img50 {
  width: 50%;
}

.overhide {
  overflow: hidden;
}

.no_mg_both {
  margin-left: 0;
  margin-right: 0;
}

* {
  margin: 0px;
}

canvas {
  display: block;
}

.product1:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/strategi_red.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product2:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/branding_red.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product3:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/digitak_red.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product4:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/web_red.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product5:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/mobile_red.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product6:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/ecome_red.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product7:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/content_red.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product8:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/anti_red.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product9:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/consut_red.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product101:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/About-us-2.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product111:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/Our-Mission-2.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product121:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/Apply-2.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product122:hover {
  background-image: url("~@/assets/img/bgimg/iconProduct/Jobs-2.png") !important;
  background-repeat: no-repeat;
  background-size: 50%;
}

.product1 {
  background-image: url("~@/assets/img/bgimg/iconProduct/strategi.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product2 {
  background-image: url("~@/assets/img/bgimg/iconProduct/branding.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product3 {
  background-image: url("~@/assets/img/bgimg/iconProduct/digitak.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product4 {
  background-image: url("~@/assets/img/bgimg/iconProduct/web.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product5 {
  background-image: url("~@/assets/img/bgimg/iconProduct/mobile.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product6 {
  background-image: url("~@/assets/img/bgimg/iconProduct/ecome.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product7 {
  background-image: url("~@/assets/img/bgimg/iconProduct/content.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product8 {
  background-image: url("~@/assets/img/bgimg/iconProduct/anti.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product9 {
  background-image: url("~@/assets/img/bgimg/iconProduct/consut.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product101 {
  background-image: url("~@/assets/img/bgimg/iconProduct/About-us.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product111 {
  background-image: url("~@/assets/img/bgimg/iconProduct/Our-Mission.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product121 {
  background-image: url("~@/assets/img/bgimg/iconProduct/Apply.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}

.product122 {
  background-image: url("~@/assets/img/bgimg/iconProduct/Jobs.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center 15%;
}



.product11 {
  background-image: url("~@/assets/img/bgimg/iconProduct/strategi.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 15%;
}

.product22 {
  background-image: url("~@/assets/img/bgimg/iconProduct/branding.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 15%;
}

.product33 {
  background-image: url("~@/assets/img/bgimg/iconProduct/digitak.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 15%;
}

.product44 {
  background-image: url("~@/assets/img/bgimg/iconProduct/web.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 15%;
}

.product55 {
  background-image: url("~@/assets/img/bgimg/iconProduct/mobile.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 15%;
}

.product66 {
  background-image: url("~@/assets/img/bgimg/iconProduct/ecome.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 15%;
}

.product77 {
  background-image: url("~@/assets/img/bgimg/iconProduct/content.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 15%;
}

.product88 {
  background-image: url("~@/assets/img/bgimg/iconProduct/anti.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 15%;
}

.product99 {
  background-image: url("~@/assets/img/bgimg/iconProduct/consut.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center 15%;
}

.productboxinner:hover .product11 {
  background-image: url("~@/assets/img/bgimg/iconProduct/strategi_red.png") !important;
  background-repeat: no-repeat;
  background-size: 90%;
}

.productboxinner:hover .product22 {
  background-image: url("~@/assets/img/bgimg/iconProduct/branding_red.png") !important;
  background-repeat: no-repeat;
  background-size: 90%;
}

.productboxinner:hover .product33 {
  background-image: url("~@/assets/img/bgimg/iconProduct/digitak_red.png") !important;
  background-repeat: no-repeat;
  background-size: 90%;
}

.productboxinner:hover .product44 {
  background-image: url("~@/assets/img/bgimg/iconProduct/web_red.png") !important;
  background-repeat: no-repeat;
  background-size: 90%;
}

.productboxinner:hover .product55 {
  background-image: url("~@/assets/img/bgimg/iconProduct/mobile_red.png") !important;
  background-repeat: no-repeat;
  background-size: 90%;
}

.productboxinner:hover .product66 {
  background-image: url("~@/assets/img/bgimg/iconProduct/ecome_red.png") !important;
  background-repeat: no-repeat;
  background-size: 90%;
}

.productboxinner:hover .product77 {
  background-image: url("~@/assets/img/bgimg/iconProduct/content_red.png") !important;
  background-repeat: no-repeat;
  background-size: 90%;
}

.productboxinner:hover .product88 {
  background-image: url("~@/assets/img/bgimg/iconProduct/anti_red.png") !important;
  background-repeat: no-repeat;
  background-size: 90%;
}

.productboxinner:hover .product99 {
  background-image: url("~@/assets/img/bgimg/iconProduct/consut_red.png") !important;
  background-repeat: no-repeat;
  background-size: 90%;
}


@media (min-width: 1599px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1699px) {
  .container {
    max-width: 1450px;
  }
}

@media (min-width: 1799px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 1899px) {
  .container {
    max-width: 1550px;
  }
}

@media (min-width: 1999px) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 1999px) {
  .container {
    max-width: 1650px;
  }
}

@media (min-width: 2099px) {
  .container {
    max-width: 1700px;
  }
}

@media (min-width: 2199px) {
  .container {
    max-width: 1750px;
  }
}

@media (min-width: 2299px) {
  .container {
    max-width: 1800px;
  }
}

@media (min-width: 2399px) {
  .container {
    max-width: 1850px;
  }
}
