@import url('https://fonts.googleapis.com/css?family=Merriweather');
.HomeContainerPart1
{

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    position: relative;

}
.HomeContainerPart2
{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    position: relative;

}
.HomeContainerPart3
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    position: relative;

}
.HomeContainerPart4
{
  padding-top: 3%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}
.HomeContainerPart5
{

    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.HomeContainerPart6
{
    width: 100%;
    height: 100%;
}

label
{
    margin-bottom: 0px;
}


.HomeContainerPart7
{
    padding: 15px 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.HomeContainerPart6inner
{

    width: 100%;
    height: 100%;
    margin-top: -6.5%;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    position: relative;
}

.whitebg
{
    background-color: white;
}

.HomeContainerPart1inner
{
    position: absolute;
    z-index: 90;
    top: 0px;
}


.HomeContainerPart1inner img
{
    width: 100%;
}



.overbox
{
    overflow: hidden;
    position: relative;
}

.title{
    color:#ed1f24;
    text-transform:uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.titlepart2
{
    color:#ed1f24;
    text-transform:uppercase;
    font-size:3.5rem;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.hidetitlepart4
{
    position: absolute;
    background-color: #ed1f24;
    top: 0;
    width: 100%;
    left: 0;
    color: #ed1f24;
    height: 190px;
    z-index: 99;
    left: 0;
    overflow: hidden;
    font-size: 4rem;
    letter-spacing: 3px;
    transform: scale(1.2);
}

.hidetitlepart5
{
    position: absolute;
    background-color: #ed1f24;
    top: 55%;
    width: 100%;
    left: 0;
    color: #ed1f24;
    height: 90px;
    z-index: 99;
    left: 0;
    font-size: 4rem;
    letter-spacing: 3px;
    transform: scale(1.2);
}

.relative
{
    position: relative;
}

.hidetitlepartslidein{
    -webkit-animation:slideInLeft 5s linear;
    -moz-animation:slideInLeft 5s linear;
    animation:slideInLeft 5s linear;
}

.bounceinbtn
{
    -webkit-animation:bounce 2s linear;
    -moz-animation:bounce 2s linear;
    animation:bounce 2s linear;
}

.arrowbottom
{
  position: absolute;
  top: -47.5%;
  text-align: center;
  width: 100%;
  z-index:55;
  color: white;
}

.arrowbottom img
{
  width: 4rem;
}

.arrowtop
{
  position: absolute;
  bottom:-65px;
  text-align: center;
  width: 100%;
  z-index:90;
  color: white;
}

.arrowtop img
{
  width: 4rem;
}
.titlepart4
{
    color:#ed1f24;
    text-transform:uppercase;
    font-size: 4rem;
    letter-spacing: 3px;
    position: relative;
    transform: scale(1.2);
    z-index: 92;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding: 0 12%;
    overflow: hidden;
    width:100%;
}
.titlepart5
{
    color:#ed1f24;
    text-transform:uppercase;
    font-size: 4rem;
    letter-spacing: 3px;
    position: relative;
    transform: scale(1.2);
    z-index: 92;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    padding: 0 12%;
    overflow: hidden;
    width:100%;
}

.titleparttypein
{
    animation: type 3s steps(60, end);
    animation-delay:5s;
}

.box4spacing
{
    height: 250px;
}

.listtitle
{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.listitem{
    color: white;
    font-size: 13px;

}

.listitem li{
    list-style: none;
    margin:5px 0px;
    display: list-item;
}

.paragraph{
    color:white;
    line-height: 1.5;
    margin-bottom: 20px;
    letter-spacing:0.5px;

}

.overflox_hide
{
overflow: auto;
width:500px;
}

.overflox_show
{
    overflow:hidden;
}

.productbox
{
    margin-top:40px;
}
.productboxinnerimg
{
    width:100%;
    height: 100%;
    z-index: 100;
}
.productboxinner
{
    -ms-flex: 0 0 23%;
    -webkit-box-flex: 0;
    flex: 0 0 23%;
    margin-left:10%;
    height: 100%;
    transform-style: preserve-3d;
    position: relative;
    background-color:transparent;
    z-index: 99;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 16px 0px rgba(173,152,155,1);
    -moz-box-shadow: 10px 10px 16px 0px rgba(173,152,155,1);
    box-shadow: 10px 10px 16px 0px rgba(173,152,155,1);
}
.productboxinner:nth-child(even) {
    margin-top:4%;
}
.productboxinner:first-child{
    margin-left:3%;
}
.productboxinner:hover{
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 99;
}

.leftbox
{
  position: absolute;
  top:40%;
  padding:20px;
  font-size: 2rem;
  left: 0;
  background-color: rgba(0,0,0,0.3)
}

.leftbox:hover{
  background-color: #ed1f24;
}

.rightbox
{
  position: absolute;
  top:40%;
  right: 0;
  padding:20px;
  font-size: 2rem;
  background-color: rgba(0,0,0,0.3)
}

.rightbox:hover{
  background-color: rgba(237,31,36,0.7)
}


.hoverfunction
{
  -webkit-animation:zoomIn 0.2s;
  -moz-animation:zoomIn 0.2s;
  animation:zoomIn 0.2s;
}

.productboxinner::selection{

  -webkit-animation:zoomIn 1s linear;
  -moz-animation:zoomIn 1s linear;
  animation:zoomIn 1s linear;

}
.productboxinner:hover:first-child{
    margin-left:25px;
}

.boxforleft
{
  width: 100%;
  float: right;
  text-align:right;
}

.swapbtn
{
  padding: 20px 30px;
	font-size: 40px;
	cursor: pointer;
	position: relative;
	border: 2px solid white;
	outline: none;
	color: white;
	background-color: transparent;
	margin: 40px;
	font-family: 'Merriweather', serif;
	white-space: nowrap;
}

a:hover{
  text-decoration: none;
}

a:not[href] {
  border: 4px solid white;
  color: white;
  display: inline-block;
  margin-top: 5%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  z-index: 99;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

a:not[href] .label{
  color: white;
}

a:not[href] .label,
a:not[href] .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}



a:not[href] .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a:not[href] .label :hover{
  color: white;
}
a:not[href]:hover {
  color: white;
  background-color: #ed1f24 !important;

}

a:not[href] .icon-arrow {
  fill: white;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

a:not[href] .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

a:not[href] .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

a:not[href]:hover .label {
  transform: translateX(-52px);
color: white;
}

a:not[href]:hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

a:not[href]:hover .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

a:not[href]:active {
  border-color: #FD6154;
  color: #FD6154;
}

a:not[href]:active .icon-arrow {
  fill: #FD6154;
}

.b:not[href] {
  border: 4px solid black;
  color: black !important;
  display: inline-block;
  margin-top: 5%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  z-index: 99;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

.b:not[href] .label {
  color: black;
}

.b:not[href] .label,
.b:not[href] .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}



.b:not[href] .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.b:not[href] .label :hover {
  color: white;
}
.b:not[href]:hover {
  color: white;
  background-color: #ed1f24 !important;
  border: 4px solid white;
}

.b:not[href] .icon-arrow {
  fill: black;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

.b:not[href] .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

.b:not[href] .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

.b:not[href]:hover .label {
  transform: translateX(-52px);
color: white;
}

.b:not[href]:hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

.b:not[href]:hover .icon-arrow.after {
  fill: white;
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

.b:not[href]:active {
  border-color: #FD6154;
  color: #FD6154;
}

.b:not[href]:active .icon-arrow {
  fill: #FD6154;
}

.productTitlepage
{
    z-index: 55;
    width: 150px;
    position: absolute;
    bottom:10px;
    left: -5%;
}
.productboxinner:hover .productTitlepage{
    transform: scale(1);
    left: -5%;
}

.productboxinner:hover .fonttitleproduct{
background-color: #ed1f24;
color:white;
}


.fontnoramproduct
{
color:black;
font-weight: bold;
font-size: 1rem;
}

.fonttitleproduct
{
    color:black;
    font-weight: bold;
    font-size: 1rem;
    padding: 2px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.fonticonproduct
{
    width:100%;
    left: -10px;
    position: relative;
}

.workwithustitle
{
    color:black;
    font-weight: bold;
    font-size: 2.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.workwithusfont
{
    font-size: 1rem;
    font-weight: 500;
}

.woekwithusimagebox
{
    position: absolute;
    width: 40%;
    top: 15%;
    right: -25px;
}


.workwithusredbg
{
    position: relative;
    width:100%;
    top:50px;
    opacity: 1;
    left: -25px;
    z-index: 49;
    height: 100%;
}
.workwithushideanimation{
    animation-name: hide, slideIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    -moz-animation-name: hide, fadeIn;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: hide, fadeIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -o-animation-name: hide, fadeIn;
    -o-animation-duration: 2s;
    -o-animation-timing-function: ease-in;
    -o-animation-iteration-count: 1;
    animation-delay: 0s, 0s;
    -moz-animation-delay: 0s, 0s;
    -webkit-animation-delay: 0s, 0s;
    -o-animation-delay: 0s, 0s;
}

.workwithusimage
{
    position: absolute;
    top: 1px;
    z-index: 51;
    opacity: 1;
}

.workwithusfadein{
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    -moz-animation-name: hide, slideInRight;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: hide, slideInRight;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -o-animation-name: hide, slideInRight;
    -o-animation-duration: 2s;
    -o-animation-timing-function: ease-in;
    -o-animation-iteration-count: 1;
    animation-delay: 0s, 2s;
    -moz-animation-delay: 0s, 2s;
    -webkit-animation-delay: 0s, 2s;
    -o-animation-delay: 0s, 2s;
}


.joinusbtn
{
    margin-top:10%;
    background-color: transparent ;
    border:1px solid red;
    padding:5px 10px 5px 10px;
    color: red;
    position: relative;
    width:200px;
    z-index: 50;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    text-align: left;
}

  .blackbox
  {
      position: absolute;
      background-color: black;
      opacity: 1;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      display: none;
      width: 100%;
  }


.joinusbtn:hover{
    border: 0px;
    color: white;
}

.joinusbtn:hover .blackbox{
    display: block;
}

.contactdetailfont
{
    margin-top:5px;
}
.contactdetailfont1
{
    margin-top:10px;
}

.reservetitle
{
    color:white;
    letter-spacing: 1px;
}

.f-space
{
    margin:0px 2.5px;
}

.form-controlanimation
{
    animation-name: hide, slideIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    -moz-animation-name: hide, fadeIn;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: hide, fadeIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -o-animation-name: hide, fadeIn;
    -o-animation-duration: 2s;
    -o-animation-timing-function: ease-in;
    -o-animation-iteration-count: 1;
    opacity: 1;
}

.floatinup1
{
    -webkit-animation:fadeInUp 0.2s linear;
      -moz-animation:fadeInUp 0.2s linear;
      animation:fadeInUp 0.2s linear;
}

.floatinup2
{
    -webkit-animation:fadeInUp 0.4s linear;
      -moz-animation:fadeInUp 0.4s linear;
      animation:fadeInUp 0.4s linear;
}

.floatinup3
{
    -webkit-animation:fadeInUp 0.6s linear;
      -moz-animation:fadeInUp 0.6s linear;
      animation:fadeInUp 0.6s linear;
}

.floatinup4
{
    -webkit-animation:fadeInUp 0.8s linear;
      -moz-animation:fadeInUp 0.8s linear;
      animation:fadeInUp 0.8s linear;
}

.floatinup5
{
    -webkit-animation:fadeInUp 1s linear;
      -moz-animation:fadeInUp 1s linear;
      animation:fadeInUp 1s linear;
}

.floatinup6
{
    -webkit-animation:fadeInUp 1s linear;
      -moz-animation:fadeInUp 1s linear;
      animation:fadeInUp 1s linear;
}

.floatinup7
{
    -webkit-animation:fadeInUp 1.2s linear;
      -moz-animation:fadeInUp 1.2s linear;
      animation:fadeInUp 1.2s linear;
}

.floatinup8
{
    -webkit-animation:fadeInUp 1.4s linear;
      -moz-animation:fadeInUp 1.4s linear;
      animation:fadeInUp 1.4s linear;
}

.floatinup9
{
    -webkit-animation:fadeInUp 1.6s linear;
      -moz-animation:fadeInUp 1.6s linear;
      animation:fadeInUp 1.6s linear;
}

.floatinup10
{
    -webkit-animation:fadeInUp 1.8s linear;
      -moz-animation:fadeInUp 1.8s linear;
      animation:fadeInUp 1.8s linear;
}

.floatinup11
{
    -webkit-animation:fadeInUp 2s linear;
      -moz-animation:fadeInUp 2s linear;
      animation:fadeInUp 2s linear;
}

.floatinup12
{
    -webkit-animation:fadeInUp 2.2s linear;
      -moz-animation:fadeInUp 2.2s linear;
      animation:fadeInUp 2.2s linear;
}
.floatinup13
{
    -webkit-animation:fadeInUp 2.4s linear;
      -moz-animation:fadeInUp 2.4s linear;
      animation:fadeInUp 2.4s linear;
}
.floatinup14
{
    -webkit-animation:fadeInUp 2.6s linear;
      -moz-animation:fadeInUp 2.6s linear;
      animation:fadeInUp 2.6s linear;
}
.floatinup15
{
    -webkit-animation:fadeInUp 2.8s linear;
      -moz-animation:fadeInUp 2.8s linear;
      animation:fadeInUp 2.8s linear;
}
.floatinup16
{
    -webkit-animation:fadeInUp 3s linear;
      -moz-animation:fadeInUp 3s linear;
      animation:fadeInUp 3s linear;
}
.floatinup17
{
    -webkit-animation:fadeInUp 3.2s linear;
      -moz-animation:fadeInUp 3.2s linear;
      animation:fadeInUp 3.2s linear;
}
.floatinup18
{
    -webkit-animation:fadeInUp 3.2s linear;
      -moz-animation:fadeInUp 3.2s linear;
      animation:fadeInUp 3.2s linear;
}
.contacttitle2
{
color:black;
font-weight: bold;
font-size: 1rem;
text-align: center;
margin:20px 0px;
}

.form-check-input{
    position:absolute !important;
    right: 0;
    background-color: #ed1f24;
    color: white;
}
.form-check-inline {
    color: #ed1f24;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    width: 100%;
}

.spacinginside
{
    padding:0% 5% 5% 5%;
}

.form-check-input:hover {
    background-color: #ed1f24;
  }

  /* When the checkbox is checked, add a:not[href] blue background */
  .form-check-input::selection {
    background-color: #ed1f24;
  }


/* Spinning, gradient circle; CSS only! */
#advanced {
	width: 900px;
    height: 900px;
    top: -35%;
    left:25%;
    z-index:25;
    border:1px solid red;
    position: absolute;
    background-color: transparent;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

	animation-name: spin;
	animation-duration: 8s; /* 3 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* Spinning, gradient circle; CSS only! */
#advanced1 {
	width: 900px;
    height: 900px;
    bottom: -15%;
    right: -20%;
    z-index:25;
    border:1px solid red;
    position: absolute;
    background-color: transparent;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

	animation-name: spin;
	animation-duration: 12s; /* 3 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.imagespin {
    position: absolute;
    top: 6%;
    right: 5%;
    width: 500px;
    height: 500px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 10s linear infinite;
}

.part3height{
    height: 500px;
}

.gobtn
{
    margin-top:10%;
    background-color: transparent !important;
    border:1px solid white;
    color: white;
    width:250px;
    text-align: left;
    position: relative;
    z-index: 99;
    overflow: hidden;
    cursor: pointer;
    opacity: 1;
    text-align: left;
}

.gobtn:hover{
    border: 0px;
    color: white;
    transition: all ease-in-out .2s;
}

.gobtn:hover .blackbox{
    display: block;
}

.productboxitem{
    padding: 20px;
    height: 125px;
}

li:hover{
    color: #ed1f24;
    cursor: pointer;
  }


@media(max-width: 2000px) {


    .title{
        font-size:2.2rem;
        letter-spacing: 1.5px;
    }

    .titlepart2
    {
        font-size:2.2rem;
        letter-spacing: 1.5px;
    }

    .paragraph{
        font-size: 1rem;

    }

    .overbox
{
    overflow: hidden;
    position: relative;
}
#advanced {
    width: 700px;
    height: 700px;

}

#advanced1 {
    width: 700px;
    height: 700px;

}
}

@media(max-width: 1450px) {

    .title{
        font-size:2.5rem;
        letter-spacing: 1.5px;
    }

    .paragraph{
        font-size: 1rem;

    }

    .woekwithusimagebox
{
    position: absolute;
    width:45%;
    top: 15%;
    right: -25px;
}

    .overbox
{
    overflow: hidden;
    position: relative;
}
#advanced {
    width: 600px;
    height: 600px;

}

#advanced1 {
    width: 600px;
    height: 600px;
    right: 10%;

}
}

  #style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    border:0px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar
{
    width: 5px;
    height: 10px;
    border:0px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    border:0px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
    background-color: transparent;
}

 /*Css animation*/

 @keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

 @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
 @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

 @-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


 @keyframes AnimationContentNavOn {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes AnimationContentNavOff {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

 @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hide
{
    from { opacity: 0; } to { opacity: 0 }
}
@-moz-keyframes hide
{
    from { opacity: 0; } to { opacity: 0 }
}
@-webkit-keyframes hide
{
    from { opacity: 0; } to { opacity: 0 }
}
@-o-keyframes hide
{
    from { opacity: 0; } to { opacity: 0 }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scroll-in{
 from{
     -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
 }
}
[data-scroll-in-mobile] {
  opacity: 0;
  -webkit-transform: translateY(50%) !important;
  transform: translateY(50%) !important;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
[data-scroll-in-mobile].scrolled-in {
  opacity: 1;
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

@-webkit-keyframes slideInLeft {
    0%{
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
      opacity: 1;
    }
    25% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }

    50% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    100%{
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        opacity: 0;
      }
    }
  @keyframes slideInLeft  {
    0%{
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
      opacity: 1;
    }
    25% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }

    50% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    100%{
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        opacity: 0;
      }
  }

  @-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }

    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }

    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }

  @keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }

    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }

    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }



@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
      opacity: 1;
    }
  }

  @keyframes type{
    from { width: 0; }
  }


 /*data:not[href] aos customize animation*/

  [data-aos="nav-animation"] {
    visibility: hidden;
}

[data-aos="nav-animation"].aos-animate {
    visibility: visible;
    animation: type 3s steps(60, end);
}

[data-aos="nav-animation1"] {
    opacity: 1;
    transform: rotateX(90deg);
}

[data-aos="nav-animation1"].aos-animate {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    transform: rotateX(0deg);
    transition-duration:500ms;

}
