<template>
 <div class="HomeContainerPart6" v-bind:style="{ height: cssHome.part1height*(6.5/10) + 'px' }"  >
         <div class="HomeContainerPart6inner" v-bind:style="{ height: cssHome.part1height*(7/10) + 'px' }">
                 <div class="box4spacing" v-bind:style="{ height: cssHome.part1height*(2.5/10) + 'px' }" ></div>
            <div class="container relative">
            <div class="arrowbottom">
                       <img @click="scrollToTop()" src="@/assets/img/bgimg/arrowtop.png" class="img100">
            </div>
            <div class="row">
                <div class="col-3 no_pd_both">
                <img  data-aos="fade-up"  data-aos-delay="0" data-aos-easing="ease" src="@/assets/img/logo/mainlogo_W.png" class="img75 font_left floatinup1">
                </div>
                <div class="col-3 no_pd_both">
                    <h5   data-aos="fade-up"  data-aos-delay="200" data-aos-easing="ease" class="listtitle floatinup2">{{ $t('box2titile') }}</h5>
                    <div>
                    <ul class="listitem">
                    <li  @click="openlink('/work/1')" data-aos="fade-up"  data-aos-delay="400" data-aos-easing="ease">
                  <i class="fas fa-hand-point-right"></i>  {{ $t('productType1') }}
                    </li>
                    <li  @click="openlink('/work/2')"  data-aos="fade-up"  data-aos-delay="600" data-aos-easing="ease">
                 <i class="fas fa-hand-point-right"></i>   {{ $t('productType2') }}
                    </li>
                    <li   @click="openlink('/work/3')" data-aos="fade-up"  data-aos-delay="800" data-aos-easing="ease">
                  <i class="fas fa-hand-point-right"></i>  {{ $t('productType3') }}
                    </li>
                    <li  @click="openlink('/work/4')" data-aos="fade-up"  data-aos-delay="1000" data-aos-easing="ease">
                <i class="fas fa-hand-point-right"></i>    {{ $t('productType4') }}
                    </li>
                    <li  @click="openlink('/work/5')" data-aos="fade-up"  data-aos-delay="1200" data-aos-easing="ease">
              <i class="fas fa-hand-point-right"></i>      {{ $t('productType5') }}
                    </li>
                    <li  @click="openlink('/work/6')"  data-aos="fade-up"  data-aos-delay="1400" data-aos-easing="ease">
               <i class="fas fa-hand-point-right"></i>     {{ $t('productType6') }}
                    </li>
                    <li  @click="openlink('/work/7')" data-aos="fade-up"  data-aos-delay="1600" data-aos-easing="ease">
               <i class="fas fa-hand-point-right"></i>     {{ $t('productType7') }}
                    </li>
                    <li  @click="openlink('/work/8')" data-aos="fade-up"  data-aos-delay="1800" data-aos-easing="ease">
              <i class="fas fa-hand-point-right"></i>      {{ $t('productType8') }}
                    </li>
                    <li  @click="openlink('/work/9')" data-aos="fade-up"  data-aos-delay="2000" data-aos-easing="ease">
               <i class="fas fa-hand-point-right"></i>     {{ $t('productType9') }}
                    </li>
                    </ul>
                    </div>
                </div>
               <div class="col-3 no_pd_both">
                    <h5  data-aos="fade-up"  data-aos-delay="2200" data-aos-easing="ease" class="listtitle">{{ $t('aboutus') }}</h5>
                    <div>
                    <ul class="listitem">
                    <li  data-aos="fade-up"  @click="openlink('/mission')"  data-aos-delay="2400" data-aos-easing="ease">
                    <i class="fas fa-hand-point-right"></i> {{ $t('abouttitle1') }}
                    </li>
                    <li  data-aos="fade-up"  @click="openlink('/about')" data-aos-delay="2600" data-aos-easing="ease">
                   <i class="fas fa-hand-point-right"></i> {{ $t('abouttitle2') }}
                    </li>
                    </ul>
                    </div>
                </div>
             <div class="col-3 no_pd_both">
                    <h5  data-aos="fade-up"  data-aos-delay="2800" data-aos-easing="ease" class="listtitle">{{ $t('contactus') }}</h5>
                    <div>
                    <ul class="listitem">
                    <li>
                    <div class="row"  data-aos="fade-up"  data-aos-delay="2850" data-aos-easing="ease">
                        <div class="col-3">
                            <img src="@/assets/img/bgimg/footer/location.png" class="img100">
                        </div>
                        <div class="col-9 no_pd_both" @click="opento(1)">
                          <div class="contactdetailfont">One Pemimpin, 1 Pemimpin Drive,  <br >
                            #09-06, 576151 Singapore
                          </div>
                        </div>
                    </div>
                    </li>
                    <li>
                        <div class="row"  data-aos="fade-up"  data-aos-delay="2900" data-aos-easing="ease">
                        <div class="col-3">
                            <img src="@/assets/img/bgimg/footer/email.png" class="img100">
                        </div>
                        <div class="col-9 no_pd_both"  @click="opento(2)">
                            <div>
                            <div class="contactdetailfont1">
                            Contact@techmedia.sg</div>
                            </div>
                        </div>
                        </div>
                    </li>
                     <li>
                         <div class="row"  data-aos="fade-up"  data-aos-delay="2950" data-aos-easing="ease">
                        <div class="col-3">
                            <img src="@/assets/img/bgimg/footer/phone.png" class="img100">
                        </div>
                        <div class="col-9 no_pd_both"  @click="opento(3)">
                           <div>
                           <div class="contactdetailfont1">
                         +65  97277197
                            </div>
                           </div>
                        </div>
                        </div>
                    </li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
         </div>
         <div class="HomeContainerPart7" v-bind:style="{ height: cssHome.part1height*(0.7/10) + 'px' }" >
            <div class="container">
            <div class="reservetitle font_center">
                <label>{{ $t('copyright') }}</label><label class="f-space">{{year}}</label>
                <label>{{ $t('reserved') }}</label>
            </div>
            </div>
         </div>
         </div>
</template>
<script src="./WebFooter.js"></script>
<style src="./WebFooter.css"></style>
