
<template>
      <div class="modal">
        <div id="fadeinbox">
           <img class="imagespin1" src="@/assets/img/bgimg/circle1122.png">
        </div>
        <div v-show="inner===0" class="container boxrelative">
          <div @click="close()" class="closebtn"><img src="@/assets/img/bgimg/closebtn.png" class="img100"></div>
          <div class="row fullheight">
            <div class="col-12  no_pd_both">
                <ul class="navitem">
                    <li class="one11" @click="openlink('/home')">
                   {{ $t('home') }}
                    </li>
                    <li class="one22" @click="opentomore(2)">
                    {{ $t('about') }}  <div class="arrowbox"><img src="@/assets/img/bgimg/arrowleft.png" class="img100"></div>
                    </li>
                    <li class="one33" @click="opentomore(3)">
                     {{ $t('work') }}  <div class="arrowbox"><img src="@/assets/img/bgimg/arrowleft.png" class="img100"></div>
                    </li>
                    <li class="one44" @click="opentomore(4)">
                    {{ $t('jobs') }}  <div class="arrowbox"><img src="@/assets/img/bgimg/arrowleft.png" class="img100"></div>
                    </li>
                    <li class="one55" @click="openlink('/contact')">
                    {{ $t('contact') }}
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div v-show="inner===3" class="container boxrelative">
          <div @click="close()" class="closebtn"><img src="@/assets/img/bgimg/closebtn.png" class="img100"></div>
          <div class="row fullheight">
            <div class="col-12  no_pd_both">
                <ul class="navitem1">
                    <li class="one1" @click="gotowork(1)">
                     {{ $t('productType1') }}
                    </li>
                    <li class="one2" @click="gotowork(2)">
                     {{ $t('productType2') }}
                    </li>
                    <li class="one3" @click="gotowork(3)">
                     {{ $t('productType3') }}
                    </li>
                    <li class="one4" @click="gotowork(4)">
                    {{ $t('productType4') }}
                    </li>
                    <li class="one5" @click="gotowork(5)">
                    {{ $t('productType5') }}
                    </li>
                    <li class="one6" @click="gotowork(6)">
                     {{ $t('productType6') }}
                    </li>
                    <li class="one7" @click="gotowork(7)">
                     {{ $t('productType7') }}
                    </li>
                    <li class="one8" @click="gotowork(8)">
                    {{ $t('productType8') }}
                    </li>
                    <li class="one9" @click="gotowork(9)">
                    {{ $t('productType9') }}
                    </li>
                     <li class="one10" @click="opentomore(0)">
                       <div class="backbtn">
                            {{ $t('backtohome') }}
                       </div>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div v-show="inner===2" class="container boxrelative">
          <div @click="close()" class="closebtn"><img src="@/assets/img/bgimg/closebtn.png" class="img100"></div>
          <div class="row fullheight">
            <div class="col-12  no_pd_both">
                <ul class="navitem2">
                    <li class="one1" @click="openlink('/mission')">
                     {{ $t('abouttitle1') }}
                    </li>
                    <li class="one2" @click="openlink('/about')">
                     {{ $t('abouttitle2') }}
                    </li>
                    <li class="one3" @click="opentomore(0)">
                       <div class="backbtn">
                            {{ $t('backtohome') }}
                       </div>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div v-show="inner===4" class="container boxrelative">
          <div @click="close()" class="closebtn"><img src="@/assets/img/bgimg/closebtn.png" class="img100"></div>
          <div class="row fullheight">
            <div class="col-12  no_pd_both">
                <ul class="navitem3">
                    <li class="one1" @click="openlink('/jobs/apply')">
                     {{ $t('apply') }}
                    </li>
                    <li class="one2" @click="openlink('/jobs')">
                     {{ $t('jobs') }}
                    </li>
                    <li class="one3" @click="opentomore(0)">
                       <div class="backbtn">
                            {{ $t('backtohome') }}
                       </div>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </template>
<script src="./PhoneSideBar.js"></script>
<style src="./PhoneSideBar.css"></style>
