.modal {
    background-color:white;
    overflow: hidden;
}

.closebtn
{
    width: 30px;
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 60;

}

.boxrelative
{
    position:relative;
    -webkit-animation:fadeInUp 2s;
    -moz-animation:fadeInUp 2s;
    animation:fadeInUp 2s;
}
.navitem1
{
    display: list-item;
    color: black;
    margin:20% 0px;
    z-index: 80;
    -webkit-animation:fadeInUp 2s;
    -moz-animation:fadeInUp 2s;
    animation:fadeInUp 2s;
}

.navitem1 li{
    color: black;
    margin:0px 20px 0px 0px;
    padding:5% 40px 5% 15px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    width: 100%;
    z-index: 85;
    cursor: pointer;
    animation-name: hide, slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    -moz-animation-name: hide, slideIn;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: hide, slideIn;
    -webkit-animation-duration:  1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -o-animation-name: hide, slideIn;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-in;
    -o-animation-iteration-count: 1;
    opacity: 1;
}

.navitem2
{
    display: list-item;
    color: black;
    margin:20% 0px;
    z-index: 80;
    -webkit-animation:fadeInUp 2s;
    -moz-animation:fadeInUp 2s;
    animation:fadeInUp 2s;
}

.navitem2 li{
    color: black;
    margin:0px 20px 0px 0px;
    padding:5% 40px 5% 15px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    width: 100%;
    z-index: 85;
    cursor: pointer;
    animation-name: hide, slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    -moz-animation-name: hide, slideIn;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: hide, slideIn;
    -webkit-animation-duration:  1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -o-animation-name: hide, slideIn;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-in;
    -o-animation-iteration-count: 1;
    opacity: 1;
}

.navitem3
{
    display: list-item;
    color: black;
    margin:20% 0px;
    z-index: 80;
    -webkit-animation:fadeInUp 2s;
    -moz-animation:fadeInUp 2s;
    animation:fadeInUp 2s;
}

.navitem3 li{
    color: black;
    margin:0px 20px 0px 0px;
    padding:5% 40px 5% 15px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    width: 100%;
    z-index: 85;
    cursor: pointer;
    animation-name: hide, slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    -moz-animation-name: hide, slideIn;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: hide, slideIn;
    -webkit-animation-duration:  1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -o-animation-name: hide, slideIn;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-in;
    -o-animation-iteration-count: 1;
    opacity: 1;
}

.navitem
{
    display: list-item;
    color: black;
    margin:50% 0px;
    z-index: 80;
    -webkit-animation:fadeInUp 2s;
    -moz-animation:fadeInUp 2s;
    animation:fadeInUp 2s;
}

.arrowbox
{
  right: 20px;
  position: absolute;
  color: #ed1e23;
  width:60px;
  top: 0;
}

.navitem li{
    color: black;
    margin:0px 20px 0px 0px;
    padding:10% 40px 5% 15px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative;
    width: 100%;
    z-index: 85;
    cursor: pointer;
    animation-name: hide, slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    -moz-animation-name: hide, slideIn;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: hide, slideIn;
    -webkit-animation-duration:  1s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -o-animation-name: hide, slideIn;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-in;
    -o-animation-iteration-count: 1;
    opacity: 1;
}

.one11
{
    animation-delay: 0s, 0s;
    -moz-animation-delay: 0s, 0s;
    -webkit-animation-delay: 0s, 0s;
    -o-animation-delay: 0s, 0s;
}
.one22
{
    animation-delay: 0s, 0.4s;
    -moz-animation-delay: 0s, 0.4s;
    -webkit-animation-delay: 0s, 0.4s;
    -o-animation-delay: 0s, 0.4s;
}
.one33
{
    animation-delay: 0s, 0.8s;
    -moz-animation-delay: 0s, 0.8s;
    -webkit-animation-delay: 0s, 0.8s;
    -o-animation-delay: 0s, 0.8s;
}
.one44
{
    animation-delay: 0s, 1s;
    -moz-animation-delay: 0s, 1s;
    -webkit-animation-delay: 0s, 1s;
    -o-animation-delay: 0s, 1s;
}
.one55
{
    animation-delay: 0s, 1.2s;
    -moz-animation-delay: 0s,1.2s;
    -webkit-animation-delay: 0s, 1.2s;
    -o-animation-delay: 0s, 1.2s;
}

.one1
{
    animation-delay: 0s, 0s;
    -moz-animation-delay: 0s, 0s;
    -webkit-animation-delay: 0s, 0s;
    -o-animation-delay: 0s, 0s;
}
.one2
{
    animation-delay: 0s, 0.2s;
    -moz-animation-delay: 0s, 0.2s;
    -webkit-animation-delay: 0s, 0.2s;
    -o-animation-delay: 0s, 0.2s;
}
.one3
{
    animation-delay: 0s, 0.4s;
    -moz-animation-delay: 0s, 0.4s;
    -webkit-animation-delay: 0s, 0.4s;
    -o-animation-delay: 0s, 0.4s;
}
.one4
{
    animation-delay: 0s, 0.6s;
    -moz-animation-delay: 0s, 0.6s;
    -webkit-animation-delay: 0s, 0.6s;
    -o-animation-delay: 0s, 0.6s;
}
.one5
{
    animation-delay: 0s, 0.8s;
    -moz-animation-delay: 0s, 0.8s;
    -webkit-animation-delay: 0s,0.8s;
    -o-animation-delay: 0s, 0.8s;
}
.one6
{
    animation-delay: 0s, 1.0s;
    -moz-animation-delay: 0s, 1.0s;
    -webkit-animation-delay: 0s, 1.0s;
    -o-animation-delay: 0s, 1.0s;
}
.one7
{
    animation-delay: 0s, 1.2s;
    -moz-animation-delay: 0s, 1.2s;
    -webkit-animation-delay: 0s, 1.2s;
    -o-animation-delay: 0s, 1.2s;
}
.one8
{
    animation-delay: 0s, 1.4s;
    -moz-animation-delay: 0s, 1.4s;
    -webkit-animation-delay: 0s,1.4s;
    -o-animation-delay: 0s, 1.4s;
}
.one9
{
    animation-delay: 0s, 1.6s;
    -moz-animation-delay: 0s, 1.6s;
    -webkit-animation-delay: 0s, 1.6s;
    -o-animation-delay: 0s, 1.6s;
}
.one10
{
    animation-delay: 0s, 1.8s;
    -moz-animation-delay: 0s, 1.8s;
    -webkit-animation-delay: 0s, 1.8s;
    -o-animation-delay: 0s, 1.8s;
}

.backbtn
{
  border: 1px solid #ed1e23;
  color: #ed1e23;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0px;
}

.navitem li:first-child{
 color:#ed1e23;
}
.navitem li:hover
{
    background-color: #ed1e23;
    color:white;
}

.workicon{
    padding-top:137px;
    padding-bottom:35px;
    font-size: 1rem;
    font-weight:700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    cursor: pointer;
    -webkit-animation:fadeInUp 1.8s;
    -moz-animation:fadeInUp 1.8s;
    animation:fadeInUp 1.8s;
}
.workicon:hover{
    color: #ed1e23;
    font-weight:bold;
    font-size: 1.1rem;
    -webkit-box-shadow: 0px -1px 21px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 21px -2px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 21px -2px rgba(0,0,0,0.75);
}


.fullheight
{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.navright
{
    border-left: 3px solid #ed1e23;
    padding-top:10%;
}

.imagespin1 {
    position: absolute;
    bottom: -35%;
    left: -6.5%;
    bottom: -20%;
    left: -6.5%;
    width: 500px;
    height: 500px;
    margin:-60px 0 0 -60px;
    z-index: 0;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 10s linear infinite;

}

#fadeinbox
{
    -webkit-animation:fadeInUp 3s linear;
    -moz-animation:fadeInUp 3s linear;
    animation:fadeInUp 3s linear;
}

a{
  color: black;
}

a:hover{
  text-decoration: none;
}


@media(max-width: 1367px) {
  .navright
  {
      border-left: 3px solid #ed1e23;
      padding-top:2%;
  }

  .imagespin1 {

      bottom: -40%;
      left: -6.5%;

  }
  .navitem
  {
      margin:25% 0px;

  }
  .workicon{
      padding-top:125px;
      padding-bottom:25px;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: bold;
  }


  .navitem li{
      color: black;
      margin:0px 20px 0px 0px;
      padding:7% 40px 3.5% 15px;
      font-size: 1.5rem;
      letter-spacing: 2px;
      font-weight: bold;
      width: 100%;
      z-index: 85;
      cursor: pointer;
  }
}

@media(min-width: 300px) {
  .arrowbox
  {
    top:25%;
  }
  }


@media(min-width: 768px) {
  .arrowbox
  {
    top:40px;
  }
  }

@media(min-width: 1024px) {
.arrowbox
{
  top:55px;
}
}




@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes hide
  {
      from { opacity: 0; } to { opacity: 0 }
  }
  @-moz-keyframes hide
  {
      from { opacity: 0; } to { opacity: 0 }
  }
  @-webkit-keyframes hide
  {
      from { opacity: 0; } to { opacity: 0 }
  }
  @-o-keyframes hide
  {
      from { opacity: 0; } to { opacity: 0 }
  }
  @keyframes slideIn
  {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-moz-keyframes slideIn
  {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes slideIn
  {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-o-keyframes slideIn
  {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
