<template>
<div class="container">
      <nav class="WebNavTop navbar row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 no_pd_both">
              <router-link to="/home">
                   <img src="@/assets/img/logo/mainlogo.png" class="logo">
                   </router-link>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-8 col-xl-8 no_pd_both">
                  <div  @click="openmodal" class="hamburger float_r">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                  </div>
            </div>
      </nav>
</div>
</template>
<script src="./PhoneNav.js"></script>
<style src="./PhoneNav.css"></style>
