.hamburger {
  display: inline-block;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  z-index: 55;
  position: relative;
}
.hamburger .bar1,.bar2,.bar3 {
    width: 30px;
    height: 3px;
    margin: 3px 0;
    transition: 0.4s;
    background-color: black;
  }

.hamburger .bar1.change1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 7px);
    transform: rotate(-45deg) translate(-5px, 7px);
    background-color: black;
  }

.hamburger .bar2 .change2 {
    opacity: 0;
  }

.hamburger.bar3 .change3 {
    -webkit-transform: rotate(45deg) translate(-4px, -6px);
    transform: rotate(45deg) translate(-4px, -6px);
    background-color: black;
  }

.navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 18px 0px;
      z-index: 1;
      position: relative;
  }

.logo
{
  width:100%;
  height:100%;
}