<template>
<div>
<div class="HomeContainerPart1" v-bind:style="{ height: cssHome.part1height + 'px' }" >
    <div class="HomeContainerPart1inner">
          <img src="@/assets/img/bgimg/part112.png" v-bind:style="{ height: window.height*(9.45/10) + 'px' }">
    </div>
<div class="container relative">
      <div class="arrowtop">
            {{ $t('scroll') }} <br>
            <img src="@/assets/img/bgimg/arrowbottom.png" class="img100">
        </div>
<div class="overbox" v-bind:style="{ height: cssHome.part1height*(8.5/10) + 'px' }">
    <div id="advanced"></div>
    <div id="advanced1"></div>
    <div class="row justify-content-start">
        <div class="col-7">
            <div class="title"  v-bind:style="{ 'padding-top': cssHome.part1height*(2.5/10) + 'px' , 'padding-right': cssHome.part1height*(1.8/10) + 'px' ,'font-size': cssHome.part1height*(0.5/10) + 'px' }">
                 {{ $t('box1titile1') }}
            </div>
            <div class="paragraph"  v-bind:style="{ 'padding-top': cssHome.part1height*(0.2/10) + 'px' ,'padding-right': cssHome.part1height*(1.8/10) + 'px' ,'font-size': cssHome.part1height*(0.18/10) + 'px' }" >
                 {{ $t('box_description1') }}
            </div>
            <div>
              <router-link to="/about">
                <a>
                    <svg class="icon-arrow before">
                        <use xlink:href="#arrow"></use>
                    </svg>
                    <span class="label">   {{ $t('about') }}</span>
                    <svg class="icon-arrow after">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </a>
                <svg style="display: none;">
                    <defs>
                        <symbol id="arrow" viewBox="0 0 35 15">
                                <title>Arrow</title>
                                <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                        </symbol>
                    </defs>
                </svg>
              </router-link>
     </div>
    </div>
     </div>
    </div>
</div>
</div>
<div class="HomeContainerPart2" v-bind:style="{ height: cssHome.part1height*(9/10) + 'px' ,'font-size': cssHome.part1height*(0.35/10) + 'px' }" >
     <img class="imagespin" src="@/assets/img/bgimg/circle1122.png">
      <div class="container relative">
          <div class="leftbox"  @click="moveLeft()">
               <i class="fas fa-caret-left"></i>
          </div>
          <div class="rightbox"  @click="moveRight()">
               <i class="fas fa-caret-right"></i>
          </div>
          <div data-aos="fade" data-aos-easing="ease" class="titlepart2">
                {{ $t('box2titile') }}
          </div>
          <div class="row justify-content-center">
                <div class="col-11 overbox" v-bind:style="{ height: cssHome.part1height*(7/10) + 'px'}">
                      <div class="row productbox  justify-content-center"  @mouseenter="stop()"   @mouseleave="start()">
                          <div  @mouseleave="mouseleave(item)" class="col-4 no_pd_both productboxinner" :key="item.index"  v-for="item in expectwork.slice(0,3)" data-aos="fade-up"  :data-aos-delay="item.animationdelaytime" data-aos-easing="ease" @click="openlink('/work/' + item.index)">
                                <div>
                                    <div  @mouseenter="mouseover(item)" class="productTitlepage">
                                          <div :class="item.csslevel1"></div>
                                          <div class="fontnoramproduct">{{item.index}}</div>
                                          <div class="fonttitleproduct">{{item.name | translate}}</div>
                                    </div>
                                     <img  @mouseenter="mouseover(item)" v-bind:class="{ hoverfunction:hover === item.index}" class="productboxinnerimg" v-bind:src="require('@/assets/img/bgimg/homework/Hover/'+item.img)">
                                </div>
                          </div>
                      </div>
                  </div>
            </div>
      </div>
</div>
<div class="HomeContainerPart3" v-bind:style="{ height: cssHome.part1height*(8/10) + 'px'}">
      <div class="woekwithusimagebox" >
            <img class="img100 workwithusimage" data-aos="slide-left"  data-aos-delay="1000" data-aos-easing="ease" src="@/assets/img/bgimg/growtogther.png">
            <img class="workwithusredbg"  data-aos="fade-in"  data-aos-easing="ease" src="@/assets/img/bgimg/redbg.png">
       </div>
      <div class="container">
            <div data-aos="fade" v-bind:style="{'font-size': cssHome.part1height*(0.35/10) + 'px' }"  data-aos-easing="ease" class="titlepart2">
                  {{ $t('box1titile2') }}
            </div>
            <br >
            <br >
            <div class="row">
                  <div class="col-5">
                        <div class="workwithustitle" data-aos="slide-up" data-aos-easing="ease"> {{ $t('box2title1') }} </div>
                        <div class="workwithusfont"  data-aos="slide-up" data-aos-easing="ease"> {{ $t('box2title2') }} </div>
                        <br>
                        <br>
                        <router-link to="/jobs">
                        <a class="b"  data-aos="slide-up" data-aos-easing="ease" >
                            <svg class="icon-arrow before">
                                <use xlink:href="#arrow"></use>
                            </svg>
                            <span class="label">   {{ $t('box2title3') }}</span>
                            <svg class="icon-arrow after">
                                  <use xlink:href="#arrow"></use>
                            </svg>
                        </a>
                          <svg style="display: none;">
                            <defs>
                              <symbol id="arrow" viewBox="0 0 35 15">
                                      <title>Arrow</title>
                                      <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                              </symbol>
                            </defs>
                          </svg>
                        </router-link>
                    </div>
            </div>
        </div>
</div>
<div class="whitebg">
      <div class="HomeContainerPart4" >
            <div class="container">
                  <div  data-aos="fade"   data-aos-easing="ease" class="titlepart2">
                  {{ $t('box3title1') }}
                  </div>
                  <div data-aos="fadein" data-aos-delay="500" data-aos-easing="ease" class="contacttitle2"> {{ $t('box3title2') }} </div>
                  <div class="col-12">
                        <form>
                              <div class="form-group row">
                                    <div class="col-12 col-md-6 spacinginside" >
                                          <label class="floatinup1" for="exampleFormControlInput1">{{ $t('form1') }}</label>
                                          <input type="email" class="floatinup1 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                                          <br>
                                          <label class="floatinup2" for="exampleFormControlInput1">{{ $t('form2') }}</label>
                                          <input type="email" class="floatinup2 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                                          <br>
                                          <label class="floatinup3" for="exampleFormControlInput1">{{ $t('form3') }}</label>
                                          <input type="email" class="floatinup3 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                                          <br>
                                          <label class="floatinup4" for="exampleFormControlInput1">{{ $t('form4') }}</label>
                                          <input type="email" class="floatinup4 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                                          <br>
                                          <label class="floatinup5" for="exampleFormControlInput1">{{ $t('form5') }}</label>
                                          <input type="email" class="floatinup5 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                                          <br>
                                          <label class="floatinup6" for="exampleFormControlInput1">{{ $t('form6') }}</label>
                                          <input type="email" class="floatinup6 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                                    </div>
                                    <div class="col-12 col-md-6 spacinginside">
                                          <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form7') }}</label>
                                          <input type="email" class="floatinup7 form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                          <br>
                                          <label class="floatinup9" for="exampleFormControlTextarea1">{{ $t('form8') }}</label>
                                          <textarea class="floatinup8 form-control noresize" id="exampleFormControlTextarea1" rows="13"></textarea>
                                          <br>
                                          <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form17') }}</label>
                                          <b-form-file v-model="file2" plain></b-form-file>
                                    </div>
                              </div>
                              <div class="row form-group">
                                  <div class="col-12 col-md-6 spacinginside">
                                        <b-form-group class="floatinup7">
                                                      <b-form-checkbox-group
                                                      v-model="selected"
                                                      :options="options"
                                                      plain></b-form-checkbox-group>
                                        </b-form-group>
                                  </div>
                                  <div class="col-12 col-md-6 font_right spacinginside">
                                      <a class="b"  data-aos="slide-up" data-aos-easing="ease" >
                                          <svg class="icon-arrow before">
                                                <use xlink:href="#arrow"></use>
                                          </svg>
                                          <span class="label">Contact Us</span>
                                          <svg class="icon-arrow after">
                                                <use xlink:href="#arrow"></use>
                                          </svg>
                                        </a>
                                        <svg style="display: none;">
                                             <defs>
                                                  <symbol id="arrow" viewBox="0 0 35 15">
                                                          <title>Arrow</title>
                                                          <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                                                  </symbol>
                                              </defs>
                                        </svg>
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
      </div>
</div>
</div>
</template>
<script src="./WebHomeContent.js"></script>
<style src="./WebHomeContent.css"></style>
