<template>
  <div class="SubFooter">
      <div class="box4spacing"></div>
      <div class="container relative" >
           <div data-aos="nav-animation1" data-aos-easing="ease"  class="hidetitlepart4">  {{ $t('box4title1') }}</div>
           <div  data-aos="nav-animation" data-aos-easing="ease"  data-aos-delay="500" class="titlepart4">
                 {{ $t('box4title1') }} <br>
                 {{ $t('box4title2') }}
            </div>
      </div>
</div>
</template>

<script src="./SubFooter.js"></script>
<style src="./SubFooter.css"></style>
