<template>
    <div class="phone-about">
      <div class="whitebg">
        <div class="PhoneAboutContainerPart1">
          <div class="container">
            <div class="titlepart2" data-aos="fade" data-aos-easing="ease" >
              About Techmedia
            </div>
            <div class="row">
              <div class="col-md-5" data-aos="fade-right" data-aos-easing="ease" >
                <div class="contacttitle2 text-left">
                  <h5>Techmedia</h5>
                  </div>
                <p>Following years working within the digital sector and having access to the inner workings of providers, the founders of Techmedia were granted in-depth knowledge into digital marketing industries. Established in 2016, Techmedia’s founders have grown a team proficient in all aspects revolving around the digital world creating a full-service company that clients trust to provide a holistic approach to integrating digital solutions to their core business.</p>
                <router-link to="/mission">
                <a class="b"  data-aos="slide-up" data-aos-easing="ease" >
                                        <svg class="icon-arrow before">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                                <span class="label">Our Mission</span>
                                <svg class="icon-arrow after">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                                </a>
                            <svg style="display: none;">
                              <defs>
                                <symbol id="arrow" viewBox="0 0 35 15">
                                  <title>Arrow</title>
                                  <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                                </symbol>
                              </defs>
                            </svg>
                </router-link>
              </div>
              <div class="col-md-7" data-aos="fade-left" data-aos-easing="ease" >
                <img src="@/assets/img/bgimg/aboutusimg.png" class="aboutus-img">
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="PhoneAboutContainerPart2" data-aos="slide-up" data-aos-easing="ease">
            <img class="imagespin" src="@/assets/img/bgimg/circle1122.png">
            <div class="container">
                <div class="titlepart2">
                  Our Work
                  <br >
                  <br >
              </div>
              <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                            <b-carousel id="carousel-1" v-model="slide" :interval="4000" controls background="transparent" style="text-shadow: 1px 1px 2px #333;" @sliding-start="onSlideStart" @sliding-end="onSlideEnd">
                                                <!-- Slide with blank fluid image to maintain slide aspect ratio -->
                                                <b-carousel-slide  img-blank img-alt="Blank image"  :key="item.index"  v-for="item in expectwork">
                                                    <div  class="productboxinnera" @click="openlink('/work/' + item.index)">
                                                        <div   class="productTitlepage">
                                                            <div :class="item.csslevel1"></div>
                                                            <div class="fontnoramproduct">{{item.index}}</div>
                                                            <div class="fonttitleproduct">{{item.name | translate}}</div>
                                                        </div>
                                                        <img   class="productboxinnerimg"  v-bind:src="require('@/assets/img/bgimg/homework/Hover/'+item.img)">
                                                    </div>
                                                </b-carousel-slide>
                                    </b-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script src="./PhoneAboutContent.js"></script>
<style src="./PhoneAboutContent.css"></style>
