<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal HomeContainerPart4">
        <header class="modal-header">
          <slot name="header">
            {{ $t('box3title1') }}
            <button
            type="button"
            class="btn-close"
            @click="close"
            >
            x
          </button>
        </slot>
      </header>
      <section class="modal-body">
        <div class="col-12">
          <form>
            <div class="form-group row">
              <div class="col-12 col-md-6 spacinginside" >
                <label class="floatinup1" for="exampleFormControlInput1">{{ $t('form1') }}</label>
                <input type="email" class="floatinup1 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                <br>
                <label class="floatinup2" for="exampleFormControlInput1">{{ $t('form2') }}</label>
                <input type="email" class="floatinup2 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                <br>
                <label class="floatinup3" for="exampleFormControlInput1">{{ $t('form3') }}</label>
                <input type="email" class="floatinup3 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                <br>
                <label class="floatinup4" for="exampleFormControlInput1">{{ $t('form4') }}</label>
                <input type="email" class="floatinup4 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                <br>
                <label class="floatinup5" for="exampleFormControlInput1">{{ $t('form5') }}</label>
                <input type="email" class="floatinup5 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
                <br>
                <label class="floatinup6" for="exampleFormControlInput1">{{ $t('form6') }}</label>
                <input type="email" class="floatinup6 form-control " id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="col-12 col-md-6 spacinginside">
                <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form7') }}</label>
                <input type="email" class="floatinup7 form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                <br>
                <label class="floatinup9" for="exampleFormControlTextarea1">{{ $t('form8') }}</label>
                <textarea class="floatinup8 form-control noresize" id="exampleFormControlTextarea1" rows="13"></textarea>
                <br>
                <label class="floatinup8" for="exampleFormControlInput1">{{ $t('form17') }}</label>
                <b-form-file v-model="file2" plain></b-form-file>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-12 col-md-6 spacinginside">
                <b-form-group class="floatinup7">
                  <b-form-checkbox-group v-model="selected" :options="options" plain></b-form-checkbox-group>
                </b-form-group>
              </div>
              <div class="col-12 col-md-6 spacinginside">
                <a class="b"  data-aos="slide-up" data-aos-easing="ease" >
                  <svg class="icon-arrow before">
                    <use xlink:href="#arrow"></use>
                  </svg>
                  <span class="label">Submit</span>
                  <svg class="icon-arrow after">
                    <use xlink:href="#arrow"></use>
                  </svg>
                </a>
                <svg style="display: none;">
                  <defs>
                    <symbol id="arrow" viewBox="0 0 35 15">
                      <title>Arrow</title>
                      <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                    </symbol>
                  </defs>
                </svg>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</transition>
</template>

<script src="./ContactUsModal.js"></script>
<style src="./ContactUsModal.css"></style>
