<template>
    <div class="HomeContainerPart6 bgblack" data-aos="slide-up" data-aos-easing="ease">
         <div class="HomeContainerPart6innerphone">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img src="@/assets/img/logo/mainlogo_W.png" class="img50 font_left floatinup1">
                <br>
                 <br>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <h5 class="listtitle floatinup2">{{ $t('box2titile') }}</h5>
                    <div>
                    <ul class="listitem">
                    <li  @click="openlink('/work/1')"  class="floatinup3">
                    {{ $t('productType1') }}
                    </li>
                    <li  @click="openlink('/work/2')"  class="floatinup4">
                    {{ $t('productType2') }}
                    </li>
                    <li  @click="openlink('/work/3')"  class="floatinup5">
                    {{ $t('productType3') }}
                    </li>
                    <li  @click="openlink('/work/4')"  class="floatinup6">
                    {{ $t('productType4') }}
                    </li>
                    <li  @click="openlink('/work/5')"  class="floatinup7">
                    {{ $t('productType5') }}
                    </li>
                    <li  @click="openlink('/work/6')"  class="floatinup8">
                    {{ $t('productType6') }}
                    </li>
                    <li  @click="openlink('/work/7')"  class="floatinup9">
                    {{ $t('productType7') }}
                    </li>
                    <li  @click="openlink('/work/8')"  class="floatinup10">
                    {{ $t('productType8') }}
                    </li>
                    <li  @click="openlink('/work/9')"  class="floatinup11">
                    {{ $t('productType9') }}
                    </li>
                    </ul>
                    </div>
                </div>
               <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <h5 class="listtitle floatinup12">{{ $t('aboutus') }}</h5>
                    <div>
                    <ul class="listitem">
                    <li  @click="openlink('/mission')" class="floatinup13">
                    {{ $t('abouttitle1') }}
                    </li>
                    <li  @click="openlink('/about')" class="floatinup14">
                    {{ $t('abouttitle2') }}
                    </li>
                    </ul>
                    </div>
                    <br>
                    <h5 class="listtitle floatinup15">{{ $t('contactus') }}</h5>
                    <div>
                    <ul class="listitem">
                    <li>
                    <div @click="opento(1)" class="row floatinup16 no_mg_both">
                        <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 no_pd_both">
                            <img src="@/assets/img/bgimg/footer/location.png" class="img100">
                        </div>
                        <div class="col-9 col-sm-9 col-md-10 col-lg-10 col-xl-10">
                          <div class="contactdetailfont">One Pemimpin, 1 Pemimpin Drive,  <br >
                            #09-06, 576151 Singapore
                          </div>
                        </div>
                    </div>
                    </li>
                    <li>
                        <div class="row floatinup17 no_mg_both">
                        <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2  no_pd_both">
                            <img src="@/assets/img/bgimg/footer/email.png" class="img100">
                        </div>
                        <div @click="opento(2)" class="col-9 col-sm-9 col-md-10 col-lg-10 col-xl-10  ">
                            <div>
                            <div class="contactdetailfont1">
                            Contact@techmedia.sg</div>
                            </div>
                        </div>
                        </div>
                    </li>
                     <li>
                         <div class="row floatinup18 no_mg_both">
                        <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 no_pd_both">
                            <img src="@/assets/img/bgimg/footer/phone.png" class="img100">
                        </div>
                        <div @click="opento(3)" class="col-9 col-sm-9 col-md-10 col-lg-10 col-xl-10">
                           <div>
                           <div class="contactdetailfont1">
                                 +65  97277197
                            </div>
                           </div>
                        </div>
                        </div>
                    </li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
         </div>
         <div class="HomeContainerPart7">
            <div class="container" >
            <div class="reservetitle font_center">
                <label>{{ $t('copyright') }}</label><label class="f-space">{{year}}</label>
                <label>{{ $t('reserved') }}</label>
            </div>
            </div>
         </div>
    </div>
</template>
<script src="./PhoneFooter.js"></script>
<style src="./PhoneFooter.css"></style>
