.modal {
  background-color: white;
  z-index: 50;
}

.closebtn {
  width: 30px;
  position: absolute;
  right: 0;
  top: 25px;
  z-index: 60;

}

.hiddennavright {
  display: none;
}

.hoverfunction {
  display: block;
}

.boxrelative {
  position: relative;
}

.navitem {
  display: list-item;
  color: black;
  margin: 50% 0px;
  z-index: 80;
  -webkit-animation: fadeInUp 3s;
  -moz-animation: fadeInUp 3s;
  animation: fadeInUp 3s;
}

.navitem li {
  color: black;
  margin: 0px 20px 0px 0px;
  padding: 10% 40px 5% 15px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  width: 100%;
  z-index: 85;
  cursor: pointer;
  animation-name: hide, slideIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, slideIn;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, slideIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, slideIn;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  opacity: 1;
}

.one1 {
  animation-delay: 0s, 0s;
  -moz-animation-delay: 0s, 0s;
  -webkit-animation-delay: 0s, 0s;
  -o-animation-delay: 0s, 0s;
}

.one2 {
  animation-delay: 0s, 0.4s;
  -moz-animation-delay: 0s,  0.4s;
  -webkit-animation-delay: 0s,  0.4s;
  -o-animation-delay: 0s, 0.4s;
}

.one3 {
  animation-delay: 0s, 0.7s;
  -moz-animation-delay: 0s, 0.7s;
  -webkit-animation-delay: 0s, 0.7s;
  -o-animation-delay: 0s, 0.7s;
}

.one4 {
  animation-delay: 0s, 1s;
  -moz-animation-delay: 0s, 1s;
  -webkit-animation-delay: 0s, 1s;
  -o-animation-delay: 0s, 1s;
}

.one5 {
  animation-delay: 0s, 1.5s;
  -moz-animation-delay: 0s, 1.5s;
  -webkit-animation-delay: 0s, 1.5s;
  -o-animation-delay: 0s, 1.5s;
}

.router-link-exact-active li {
  color: #ed1e23;
}

a{
  color: black;
}

.workicon:hover a {
  color: #ed1e23;
}

.navitem li:hover {
  background-color: #ed1e23;
  color: white;
}

.workicon {
  padding-top: 137px;
  padding-bottom: 35px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: pointer;
  -webkit-animation: fadeInUp 2s;
  -moz-animation: fadeInUp 2s;
  animation: fadeInUp 2s;
}

.workicon:hover {
  color: #ed1e23;
  font-weight: bold;
  font-size: 1.1rem;
  -webkit-box-shadow: 0px -1px 21px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 21px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 21px -2px rgba(0, 0, 0, 0.75);
}


.fullheight {
  height: 100vh;
}

.navright {
  border-left: 3px solid #ed1e23;
  padding-top: 10%;
}

.imagespin1 {
  position: absolute;
  bottom: -35%;
  left: -6.5%;
  bottom: -20%;
  left: -6.5%;
  width: 500px;
  height: 500px;
  margin: -60px 0 0 -60px;
  z-index: 0;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 10s linear infinite;

}

#fadeinbox {
  -webkit-animation: fadeInUp 3s linear;
  -moz-animation: fadeInUp 3s linear;
  animation: fadeInUp 3s linear;
}


@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media(max-width: 1367px) {
  .navright {
    border-left: 3px solid #ed1e23;
    padding-top: 2%;
  }

  .imagespin1 {

    bottom: -40%;
    left: -6.5%;

  }

  .navitem {
    margin: 25% 0px;

  }

  .workicon {
    padding-top: 125px;
    padding-bottom: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  .navitem li {
    color: black;
    margin: 0px 20px 0px 0px;
    padding: 7% 40px 3.5% 15px;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
    width: 100%;
    z-index: 85;
    cursor: pointer;
  }
}


@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 0
  }
}

@-moz-keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 0
  }
}

@-o-keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 0
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes slideIn {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
