
<template>
      <div class="modal">
        <div id="fadeinbox">
           <img class="imagespin1" src="@/assets/img/bgimg/circle1122.png">
        </div>
        <div class="container boxrelative">
          <div  @click="close()" class="closebtn"><img src="@/assets/img/bgimg/closebtn.png" class="img100"></div>
          <div class="row fullheight">
            <div class="col-3  no_pd_both">
                <ul class="navitem">
                    <li  @mouseenter="mouseover1(item)" :class="item.css1" v-for="item in menubar" :key="item.index" @click="goto(item)">
                   {{item.name | translate}}
                    </li>
                </ul>
            </div>
            <div class="col-9 no_pd_both navright">
              <div class="row justify-content-center" >
                <div class="col-9 hiddennavright"  v-bind:class="{ hoverfunction:select === 3}" >
               <div class="row">
                  <div class="workicon col-4 product1"  @click="gotoWork(1)">
                   {{ $t('productType1') }}
                  </div>
                  <div class="workicon col-4 product2"  @click="gotoWork(2)">
                   {{ $t('productType2') }}
                  </div>
                  <div class="workicon col-4 product3"  @click="gotoWork(3)">
                   {{ $t('productType3') }}
                  </div>
                  <div class="workicon col-4 product4"  @click="gotoWork(4)">
                   {{ $t('productType4') }}
                  </div>
                  <div class="workicon col-4 product5"  @click="gotoWork(5)">
                   {{ $t('productType5') }}
                  </div>
                  <div class="workicon col-4 product6"  @click="gotoWork(6)">
                   {{ $t('productType6') }}
                  </div>
                  <div class="workicon col-4 product7"  @click="gotoWork(7)">
                   {{ $t('productType7') }}
                  </div>
                  <div class="workicon col-4 product8"  @click="gotoWork(8)">
                   {{ $t('productType8') }}
                  </div>
                  <div class="workicon col-4 product9"  @click="gotoWork(9)">
                   {{ $t('productType9') }}
                  </div>
               </div>
              </div>
                <div class="col-9 hiddennavright"  v-bind:class="{ hoverfunction:select === 2}" >
               <div class="row">
                        <div class="workicon col-4 product111" @click="openlink('/mission')">
                   {{ $t('abouttitle1') }}
                  </div>
                    <div class="workicon col-4 product101" @click="openlink('/about')">
                   {{ $t('abouttitle2') }}
                  </div>
               </div>
              </div>
                <div class="col-9 hiddennavright"  v-bind:class="{ hoverfunction:select === 4}" >
               <div class="row">
                   <div class="workicon col-4 product122" @click="openlink('/jobs')">
                   {{ $t('jobs') }}
                  </div>
                  <div class="workicon col-4 product121" @click="openlink('/jobs/apply')">
                   {{ $t('apply') }}
                  </div>
               </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
<script src="./WebMenuBar.js"></script>
<style src="./WebMenuBar.css"></style>
