<template>
  <div class="Mission">
    <div class="whitebg">
      <div class="MissionContainerPart4">
        <div class="container">
          <div class="titlepart2" data-aos="slide-up" data-aos-easing="ease">
            {{ $t('mission_text') }}
          </div>
          <div class="col-12" data-aos="slide-up" data-aos-easing="ease">
            <div class="misssion_box_f mission_img1">
              <div class="misssion_text1">
                <h5 class="missiontitle2"> {{ $t('mission_tittle') }} </h5>
                <p>{{ $t('mission_box1_doc') }}<br><br>{{ $t('mission_box2_doc') }}</p>
              </div>
              <img src="@/assets/img/bgimg/mission_1.png" class="font_left floatinup1">
            </div>
          </div>
          <div class="col-12" data-aos="slide-up" data-aos-easing="ease">
            <div class="misssion_box">
              <div class="misssion_text2">
                <h5 class="missiontitle2"> {{ $t('mission_tittle') }} </h5>
                <p>{{ $t('mission_box3_doc') }}</p>
              </div>
            </div>
          </div>
          <div class="col-12" data-aos="slide-up" data-aos-easing="ease">
            <h5 class="missiontitle2 custom"> {{ $t('mission_tittle') }} </h5>
            <div class="misssion_box mission_img3">
              <div class="misssion_text3">
                <p>{{ $t('mission_box4_doc') }}<br><br>{{ $t('mission_box5_doc') }}</p>
              </div>
              <img src="@/assets/img/bgimg/mission_2.png" class="font_left floatinup1">
            </div>
          </div>
          <div class="col-12" data-aos="slide-up" data-aos-easing="ease">
            <div class="misssion_box">
              <div class="misssion_text2">
                <p><br>{{ $t('mission_box6_doc') }}<br><br>{{ $t('mission_box7_doc') }}<br></p>
              </div>
            </div>
          </div>
          <div class="col-12" data-aos="slide-up" data-aos-easing="ease">
            <div class="misssion_box">
              <div class="misssion_text2">
                <h5 class="missiontitle2"> {{ $t('mission_tittle') }} </h5>
                <p>{{ $t('mission_box8_doc') }}</p>
              </div>
            </div>
          </div>
          <div class="col-12" data-aos="slide-up" data-aos-easing="ease">
            <div class="misssion_box_f mission_img1">
              <div class="misssion_text1">
                <h5 class="missiontitle2"> {{ $t('mission_tittle') }} </h5>
                <p>{{ $t('mission_box9_doc') }}</p>
              </div>
              <img src="@/assets/img/bgimg/mission_3.png" class="font_left floatinup1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./MissionContent.js"></script>
<style src="./MissionContent.css"></style>
