.MissionContainerPart1 {
  max-height: 400px;
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  position: relative;
}

.MissionContainerPart1 .overbox {
  overflow: hidden;
  position: relative;
  min-height: 400px;
  display: table;
  width: 100%;
}

.MissionContainerPart1 .overbox .row {
  display: table-cell;
  vertical-align: middle;
}

.MissionContainerPart1 .title {
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
}

.MissionContainerPart1 .breadcrumb {
  background-color: transparent;
  justify-content: center;
}

.MissionContainerPart1 li {
  margin: 0;
}

.MissionContainerPart1 .breadcrumb-item+.breadcrumb-item::before {
  content: '-';
  color: white;
}

.MissionContainerPart1 li a {
  text-decoration: none;
  color: white;
}

.MissionContainerPart1 .breadcrumb-item.active {
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Mission #advanced {
  width: 900px;
  height: 900px;
  top: -35%;
  left: 25%;
  z-index: 25;
  border: 1px solid red;
  position: absolute;
  background-color: transparent;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  animation-name: spin;
  animation-duration: 8s;
  /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Spinning, gradient circle; CSS only! */
.Mission #advanced1 {
  width: 900px;
  height: 900px;
  bottom: -15%;
  right: -20%;
  z-index: 25;
  border: 1px solid red;
  position: absolute;
  background-color: transparent;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  animation-name: spin;
  animation-duration: 12s;
  /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.MissionContainerPart4 {
  /* max-height: 900px; */
  /* min-height: 900px; */
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.Mission .titlepart2 {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  /* animation: type 3s steps(60, end); */
}

.Mission .missiontitle2 {
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: left;
  margin: 20px 0px;

}

.Mission .missiontitle2.custom{
  margin-left: 4%;
}

.Mission .misssion_box_f{
display: flex;
justify-content: center;
align-items: center;
font-size: 1.1rem;
text-align: justify;
}
.Mission .misssion_box{
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  text-align: justify;
  width: 85%;
  }
.Mission .misssion_text1{
  width: 50%;
  padding-right:40px;
}
.Mission .mission_img1 img{
  width: 40%;
}
.Mission .misssion_text2{
  width: 90%;
}

.Mission .mission_img3 img{
  width: 30%;
  height: 100%;
}

.Mission .misssion_text3{
  width: 60%;
  padding-right:40px;
}
.Mission .spacinginside {
  padding: 0% 5% 5% 5%;
}

.Mission .joinusbtn {
  /* margin-top: 10%; */
  background-color: transparent;
  border: 1px solid red;
  padding: 5px 10px 5px 10px;
  color: red;
  position: relative;
  width: 200px;
  z-index: 50;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  text-align: left;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.Mission .blackbox {
  position: absolute;
  background-color: black;
  opacity: 1;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  display: none;
  width: 100%;
  -webkit-animation: rotateIn 0.2s linear;
  -moz-animation: rotateIn 0.2s linear;
  animation: rotateIn 0.2s linear;
}

.Mission .joinusbtn:hover {
  border: 0px;
  color: white;
}

.Mission .joinusbtn:hover .blackbox {
  display: block;
}

.Mission .form-check-input {
  position: relative !important;
  /* right: 0; */
  background-color: #ed1f24;
  color: #ffffff;
}

.Mission .spacingbottom0 {
  padding-bottom: 0;
}

.Mission .form-check-inline {
  color: black;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding: 0 20px;
  width: auto;
}

.Mission .box4spacing {
  height: 250px;
}

.Mission .titlepart4 {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 3px;
  transform: scale(1.2);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(60, end);
}

.Mission .listtitle {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.Mission .listitem {
  color: white;
  font-size: 13px;

}

.Mission .listitem li {
  list-style: none;
  margin: 5px 0px;
  display: list-item;
}

.MissionContainerPart5 {
  max-height: 775px;
  min-height: 775px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.MissionContainerPart6 {
  max-height: 500px;
  min-height: 500px;
  width: 100%;
  height: 100%;
}

.MissionContainerPart6inner {
  max-height: 600px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  margin-top: -6.5%;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  position: relative;
}

.MissionContainerPart7 {
  padding: 15px 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.Mission .form-control {
  animation-name: hide, slideIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  opacity: 1;
}

.floatinup1 {
  -webkit-animation: fadeInUp 0.2s linear;
  -moz-animation: fadeInUp 0.2s linear;
  animation: fadeInUp 0.2s linear;
}

.floatinup2 {
  -webkit-animation: fadeInUp 0.4s linear;
  -moz-animation: fadeInUp 0.4s linear;
  animation: fadeInUp 0.4s linear;
}

.floatinup3 {
  -webkit-animation: fadeInUp 0.6s linear;
  -moz-animation: fadeInUp 0.6s linear;
  animation: fadeInUp 0.6s linear;
}

.floatinup4 {
  -webkit-animation: fadeInUp 0.8s linear;
  -moz-animation: fadeInUp 0.8s linear;
  animation: fadeInUp 0.8s linear;
}

.floatinup5 {
  -webkit-animation: fadeInUp 1s linear;
  -moz-animation: fadeInUp 1s linear;
  animation: fadeInUp 1s linear;
}

.floatinup6 {
  -webkit-animation: fadeInUp 1s linear;
  -moz-animation: fadeInUp 1s linear;
  animation: fadeInUp 1s linear;
}

.floatinup7 {
  -webkit-animation: fadeInUp 1.2s linear;
  -moz-animation: fadeInUp 1.2s linear;
  animation: fadeInUp 1.2s linear;
}

.floatinup8 {
  -webkit-animation: fadeInUp 1.4s linear;
  -moz-animation: fadeInUp 1.4s linear;
  animation: fadeInUp 1.4s linear;
}

.floatinup9 {
  -webkit-animation: fadeInUp 1.6s linear;
  -moz-animation: fadeInUp 1.6s linear;
  animation: fadeInUp 1.6s linear;
}

.floatinup10 {
  -webkit-animation: fadeInUp 1.8s linear;
  -moz-animation: fadeInUp 1.8s linear;
  animation: fadeInUp 1.8s linear;
}

.floatinup11 {
  -webkit-animation: fadeInUp 2s linear;
  -moz-animation: fadeInUp 2s linear;
  animation: fadeInUp 2s linear;
}

.floatinup12 {
  -webkit-animation: fadeInUp 2.2s linear;
  -moz-animation: fadeInUp 2.2s linear;
  animation: fadeInUp 2.2s linear;
}

.floatinup13 {
  -webkit-animation: fadeInUp 2.4s linear;
  -moz-animation: fadeInUp 2.4s linear;
  animation: fadeInUp 2.4s linear;
}

.floatinup14 {
  -webkit-animation: fadeInUp 2.6s linear;
  -moz-animation: fadeInUp 2.6s linear;
  animation: fadeInUp 2.6s linear;
}

.floatinup15 {
  -webkit-animation: fadeInUp 2.8s linear;
  -moz-animation: fadeInUp 2.8s linear;
  animation: fadeInUp 2.8s linear;
}

.floatinup16 {
  -webkit-animation: fadeInUp 3s linear;
  -moz-animation: fadeInUp 3s linear;
  animation: fadeInUp 3s linear;
}

.floatinup17 {
  -webkit-animation: fadeInUp 3.2s linear;
  -moz-animation: fadeInUp 3.2s linear;
  animation: fadeInUp 3.2s linear;
}

.floatinup18 {
  -webkit-animation: fadeInUp 3.2s linear;
  -moz-animation: fadeInUp 3.2s linear;
  animation: fadeInUp 3.2s linear;
}

.MissionContainerPart6inner {
  background-image: url("~@/assets/img/bgimg/footebg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.MissionContainerPart7 {
  background-color: #ed1e23;
  background-size: cover;
}

.MissionContainerPart5 {
  background-image: url("~@/assets/img/bgimg/sloganbg.png");
  background-repeat: no-repeat;
}

.Mission .reservetitle {
  color: white;
  letter-spacing: 1px;
}

@media(max-width: 1199px) {
  .Mission .misssion_box_f {
    display: block;
  }

  .Mission .misssion_text1 {
    padding-right: 0;
  }

  .Mission .mission_img1 img {
    width: 100%;
  }

  .Mission .misssion_text2 {
    width: 100%;
  }

  .Mission .misssion_text3 {
    width: 100%;
    padding-right: 0;
  }

  .Mission .missiontitle2.custom {
    margin-left: 0;
  }

  .Mission .misssion_box {
    width: 100%;
  }
  .MissionContainerPart4 {
    background-size: cover;
  }

  .MissionContainerPart5 {
    max-height: 450px !important;
    min-height: 450px !important;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right;
    overflow: hidden;
    position: relative;
  }

  .Mission .MissionContainerPart5 .box4spacing {
    height: 50px !important;
  }

  .Mission .titlepart4 {
    font-size: 2.2rem;
    white-space: normal;
    padding: 0px 10%;
    font-weight: bold;
    margin-bottom: 25px;
    overflow: visible;
  }

  .Mission .titlepart2 {
    white-space: normal;
    font-size: 1.6rem;
  }
  .Mission .misssion_box{
    display: block;
    }

  .Mission .misssion_text1{
    width: 100%;
  }
  .misssion_text2{
    width: 100%;
  }
  .Mission .misssion_box img{
    width: 100%;
  }
}

@media (max-width: 767px) {
  .MissionContainerPart6inner .box4spacing {
    height: 180px;
  }

  .MissionContainerPart6inner img {
    margin-bottom: 30px;
  }

  .Mission .reservetitle {
    letter-spacing: 0px;
    font-size: 12px;
  }

}
