.WebAboutContainerPart1 {
  max-height: 400px;
  min-height: 400px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  position: relative;
  background-image:url("~@/assets/img/bgimg/part113.png");
  background-repeat: no-repeat;
}

.WebAboutContainerPart1 .overbox {
  overflow: hidden;
  position: relative;
  min-height: 400px;
  display: table;
  width: 100%;
}

.WebAboutContainerPart1 .overbox .row {
  display: table-cell;
  vertical-align: middle;
}

.WebAboutContainerPart1 .title {
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.WebAboutContainerPart1 .breadcrumb {
  background-color: transparent;
  justify-content: center;
}

.WebAboutContainerPart1 li {
  margin: 0;
}

.WebAboutContainerPart1 .breadcrumb-item+.breadcrumb-item::before {
  content: '-';
  color: white;
}

.whitebg {
  background-color: white;
  margin-bottom: 3rem;
}

.WebAboutContainerPart1 li a {
  text-decoration: none;
  color: white;
}

.WebAboutContainerPart1 .breadcrumb-item.active {
  color: white;
}

.WebAboutContainerPart2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  background-image: url("~@/assets/img/bgimg/part22.png");
  background-repeat: no-repeat;
}

.leftbox {
  position: absolute;
  top: 40%;
  padding: 20px;
  font-size: 2rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3)
}

.leftbox:hover {
  background-color: #ed1f24;
}

.rightbox {
  position: absolute;
  top: 40%;
  right: 0;
  padding: 20px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.3)
}

.rightbox:hover {
  background-color: rgba(237, 31, 36, 0.7)
}

.titleparttypein {
  animation: type 3s steps(60, end);
  animation-delay: 5s;
}

.overbox {
  overflow: hidden;
  position: relative;
}

.productbox {
  margin-top: 40px;
}

.productboxinnerimg {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.productboxinner {
  -ms-flex: 0 0 23%;
  -webkit-box-flex: 0;
  flex: 0 0 23%;
  margin-left: 10%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  background-color: transparent;
  z-index: 99;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 16px 0px rgba(173, 152, 155, 1);
  -moz-box-shadow: 10px 10px 16px 0px rgba(173, 152, 155, 1);
  box-shadow: 10px 10px 16px 0px rgba(173, 152, 155, 1);
}

.productboxinner:nth-child(even) {
  margin-top: 4%;
}

.productboxinner:first-child {
  margin-left: 3%;
}

.productboxinner:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 99;
}

.productboxinner::selection {

  -webkit-animation: zoomIn 1s linear;
  -moz-animation: zoomIn 1s linear;
  animation: zoomIn 1s linear;

}

.productboxinner:hover:first-child {
  margin-left: 25px;
}

.productTitlepage {
  z-index: 55;
  width: 150px;
  position: absolute;
  bottom: 10px;
  left: -5%;
}

.productboxinner:hover .productTitlepage {
  transform: scale(1);
  left: -5%;
}

.productboxinner:hover .fonttitleproduct {
  background-color: #ed1f24;
  color: white;
}

.fontnoramproduct {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.fonttitleproduct {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.web-about #advanced {
  width: 900px;
  height: 900px;
  top: -35%;
  left: 25%;
  z-index: 25;
  border: 1px solid red;
  position: absolute;
  background-color: transparent;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  animation-name: spin;
  animation-duration: 8s;
  /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Spinning, gradient circle; CSS only! */
.web-about #advanced1 {
  width: 900px;
  height: 900px;
  bottom: -15%;
  right: -20%;
  z-index: 25;
  border: 1px solid red;
  position: absolute;
  background-color: transparent;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  animation-name: spin;
  animation-duration: 12s;
  /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.WebAboutContainerPart4 {
  /* max-height: 900px; */
  /* min-height: 900px; */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.web-about .box4spacing {
  height: 250px;
}

.web-about .titlepart2 {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  /* animation: type 3s steps(60, end); */
  margin-bottom: 2rem;
}

.web-about .contacttitle2 h5 {
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: left;
  margin: 20px 0px;
  text-transform: uppercase;
}

.web-about .aboutus-img{
  width: 100%;
  height: auto;
}

.web-about .spacinginside {
  padding: 0% 5% 5% 5%;
}

.web-about .joinusbtn {
  margin-top: 3rem;
  background-color: transparent;
  border: 1px solid red;
  padding: 5px 10px 5px 10px;
  color: red;
  position: relative;
  width: 200px;
  z-index: 50;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  text-align: left;
}

.imagespin {
  position: absolute;
  top: 6%;
  right: 5%;
  width: 500px;
  height: 500px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 10s linear infinite;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.web-about .blackbox {
  position: absolute;
  background-color: black;
  opacity: 1;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  display: none;
  width: 100%;
  -webkit-animation: rotateIn 0.2s linear;
  -moz-animation: rotateIn 0.2s linear;
  animation: rotateIn 0.2s linear;
}

.web-about .joinusbtn:hover {
  border: 0px;
  color: white;
}

.web-about .joinusbtn:hover .blackbox {
  display: block;
}

.web-about .form-check-input {
  position: absolute !important;
  right: 0;
  background-color: #ed1f24;
  color: white;
}

.web-about .form-check-inline {
  color: #ed1f24;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  width: 100%;
}

.web-about .titlepart4 {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 3px;
  transform: scale(1.2);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(60, end);
}

.web-about .listtitle {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.web-about .listitem {
  color: white;
  font-size: 13px;

}

.web-about .listitem li {
  list-style: none;
  margin: 5px 0px;
  display: list-item;
}

.WebAboutContainerPart5 {
  max-height: 600px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  position: relative;
  display: table;
}

.WebAboutContainerPart5 .container{
  display: table-cell;
   vertical-align: middle;
}

.WebAboutContainerPart6 {
  max-height: 500px;
  min-height: 500px;
  width: 100%;
  height: 100%;
}

.WebAboutContainerPart6inner {
  max-height: 600px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  margin-top: -6.5%;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  position: relative;
}

.WebAboutContainerPart7 {
  padding: 15px 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.form-control {
  animation-name: hide, slideIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  opacity: 1;
}

.floatinup1 {
  -webkit-animation: fadeInUp 0.2s linear;
  -moz-animation: fadeInUp 0.2s linear;
  animation: fadeInUp 0.2s linear;
}

.floatinup2 {
  -webkit-animation: fadeInUp 0.4s linear;
  -moz-animation: fadeInUp 0.4s linear;
  animation: fadeInUp 0.4s linear;
}

.floatinup3 {
  -webkit-animation: fadeInUp 0.6s linear;
  -moz-animation: fadeInUp 0.6s linear;
  animation: fadeInUp 0.6s linear;
}

.floatinup4 {
  -webkit-animation: fadeInUp 0.8s linear;
  -moz-animation: fadeInUp 0.8s linear;
  animation: fadeInUp 0.8s linear;
}

.floatinup5 {
  -webkit-animation: fadeInUp 1s linear;
  -moz-animation: fadeInUp 1s linear;
  animation: fadeInUp 1s linear;
}

.floatinup6 {
  -webkit-animation: fadeInUp 1s linear;
  -moz-animation: fadeInUp 1s linear;
  animation: fadeInUp 1s linear;
}

.floatinup7 {
  -webkit-animation: fadeInUp 1.2s linear;
  -moz-animation: fadeInUp 1.2s linear;
  animation: fadeInUp 1.2s linear;
}

.floatinup8 {
  -webkit-animation: fadeInUp 1.4s linear;
  -moz-animation: fadeInUp 1.4s linear;
  animation: fadeInUp 1.4s linear;
}

.floatinup9 {
  -webkit-animation: fadeInUp 1.6s linear;
  -moz-animation: fadeInUp 1.6s linear;
  animation: fadeInUp 1.6s linear;
}

.floatinup10 {
  -webkit-animation: fadeInUp 1.8s linear;
  -moz-animation: fadeInUp 1.8s linear;
  animation: fadeInUp 1.8s linear;
}

.floatinup11 {
  -webkit-animation: fadeInUp 2s linear;
  -moz-animation: fadeInUp 2s linear;
  animation: fadeInUp 2s linear;
}

.floatinup12 {
  -webkit-animation: fadeInUp 2.2s linear;
  -moz-animation: fadeInUp 2.2s linear;
  animation: fadeInUp 2.2s linear;
}

.floatinup13 {
  -webkit-animation: fadeInUp 2.4s linear;
  -moz-animation: fadeInUp 2.4s linear;
  animation: fadeInUp 2.4s linear;
}

.floatinup14 {
  -webkit-animation: fadeInUp 2.6s linear;
  -moz-animation: fadeInUp 2.6s linear;
  animation: fadeInUp 2.6s linear;
}

.floatinup15 {
  -webkit-animation: fadeInUp 2.8s linear;
  -moz-animation: fadeInUp 2.8s linear;
  animation: fadeInUp 2.8s linear;
}

.floatinup16 {
  -webkit-animation: fadeInUp 3s linear;
  -moz-animation: fadeInUp 3s linear;
  animation: fadeInUp 3s linear;
}

.floatinup17 {
  -webkit-animation: fadeInUp 3.2s linear;
  -moz-animation: fadeInUp 3.2s linear;
  animation: fadeInUp 3.2s linear;
}

.floatinup18 {
  -webkit-animation: fadeInUp 3.2s linear;
  -moz-animation: fadeInUp 3.2s linear;
  animation: fadeInUp 3.2s linear;
}

.WebAboutContainerPart6inner {
  background-image: url("~@/assets/img/bgimg/footebg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.WebAboutContainerPart7 {
  background-color: #ed1e23;
  background-size: cover;
}

.WebAboutContainerPart5 {
  background-image: url("~@/assets/img/bgimg/sloganbg.png");
  background-repeat: no-repeat;
}

.web-about .reservetitle {
  color: white;
  letter-spacing: 1px;
}

legend {
  font-weight: 600;
}

.web-about .checkbox-title {
  color: #ed1e23;
  font-weight: 600;
}

.web-about .custom-control-input:checked~.custom-control-label::before {
  background-color: #ed1e23;
}

a:not([href]) {
  border: 4px solid white;
  color: white;
  display: inline-block;
  margin-top: 5%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  z-index: 99;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

a:not([href]) .label {
  color: white;
}

a:not([href]) .label,
a:not([href]) .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}



a:not([href]) .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a:not([href]) .label:hover {
  color: white;
}

a:not([href]):hover {
  color: white;
  background-color: #ed1f24 !important;

}

a:not([href]) .icon-arrow {
  fill: white;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

a:not([href]) .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

a:not([href]) .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

a:not([href]):hover .label {
  transform: translateX(-52px);
  color: white;
}

a:not([href]):hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

a:not([href]):hover .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

a:not([href]):active {
  border-color: #FD6154;
  color: #FD6154;
}

a:not([href]):active .icon-arrow {
  fill: #FD6154;
}

.b:not([href]) {
  border: 4px solid black;
  color: black !important;
  display: inline-block;
  margin-top: 5%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  z-index: 99;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

.b:not([href]) .label {
  color: black;
}

.b:not([href]) .label,
.b:not([href]) .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}



.b:not([href]) .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.b:not([href]) .label :hover {
  color: white;
}

.b:hover {
  color: white;
  background-color: #ed1f24 !important;
  border: 4px solid white;
}

.b:not([href]) .icon-arrow {
  fill: black;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

.b:not([href]) .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

.b:not([href]) .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

.b:not([href]):hover .label {
  transform: translateX(-52px);
  color: white;
}

.b:not([href]):hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

.b:not([href]):hover .icon-arrow.after {
  fill: white;
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

.b:not([href]):active {
  border-color: #FD6154;
  color: #FD6154;
}

.b:not([href]):active .icon-arrow {
  fill: #FD6154;
}

@media(max-width: 1199px) {
  .WebAboutContainerPart4 {
    background-size: cover;
  }

  .WebAboutContainerPart5 {
    max-height: 450px !important;
    min-height: 450px !important;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right;
    overflow: hidden;
    position: relative;
  }

  .web-about .WebAboutContainerPart5 .box4spacing {
    height: 50px !important;
  }

  .web-about .titlepart4 {
    font-size: 2.2rem;
    white-space: normal;
    padding: 0px 10%;
    font-weight: bold;
    margin-bottom: 25px;
    overflow: visible;
  }

  .web-about .titlepart2 {
    white-space: normal;
    font-size: 1.6rem;
  }
}

@media (max-width: 767px) {
  .WebAboutContainerPart6inner .box4spacing {
    height: 180px;
  }

  .WebAboutContainerPart6inner img {
    margin-bottom: 30px;
  }

  .web-about .reservetitle {
    letter-spacing: 0px;
    font-size: 12px;
  }
}
