<template>
      <div class="workcontent HomeContainerPart3">
                 <div class="index animate1">0{{selectitem.index}}</div>
            <div class="container relative">
                  <div class="row justify-content-center">
                    <div :class="selectitem.css">
                       <div  v-bind:style="{ 'padding-top': cssWork.extrapadding + '%'}" :key="selectitem.index">
                                       <div class="a_left animate1"  v-bind:class="{ notop:selectitem.index===6 || selectitem.index===4}" >
                                        <i  @click="prev(selectitem.index)" class="fas fa-chevron-left"></i>
                                      </div>
                                      <div class="a_right animate1"  v-bind:class="{ notop:selectitem.index===6 || selectitem.index===4  }">
                                        <i  @click="next(selectitem.index)" class="fas fa-chevron-right"></i>
                                      </div>
                              <img v-bind:style="{ 'width': cssWork.part1height1*(1.2/10) + 'px'}" class="categoryimg animate2" v-bind:src="require('@/assets/img/bgimg/iconProduct/'+selectitem.imgcategory)">
                              <div class="titlework animate2">{{selectitem.title | translate}}</div>
                              <div class="row justify-content-start relative"  v-bind:style="{'margin-top': cssWork.extrapadding1 + '%'}">
                                    <div class="imgbgbox" v-bind:style="{'width': cssWork.part1height*(5.5/10) + 'px'}">
                                               <div class="row spaceleft" >
                                                      <div :class="item2.class" :key="item2.index1"  v-for="item2 in selectitem.bgimg">
                                                         <img  v-bind:src="require('@/assets/img/bgimg/ourwork/'+item2.data)" class="img100">
                                                       </div>
                                                 </div>
                                                   <img :class="item1.class" :key="item1.index1"  v-for="item1 in selectitem.moreimg"  v-bind:src="require('@/assets/img/bgimg/ourwork/'+item1.data)">
                                    </div>

                                    <div class="col-6">
                                              <div  class="animate3 paragraphtitle bold ">{{selectitem.description1 | translate}}</div>
                                               <div>
                                                      <ul class="parag animate3">
                                                            <li v-bind:style="{ 'font-size': cssWork.part1height*(0.21/10) + 'px'}" :key="item.index1"  v-for="item in selectitem.paragraph">
                                                                   <div :class="item.class">{{item.data | translate}}</div>
                                                            </li>
                                                      </ul>
                                               </div>
                                     </div>
                                        <div class="col-12" >
                                               <div>
                                                      <ul class="paraglvl2 animate3">
                                                            <li v-bind:style="{ 'font-size': cssWork.part1height*(0.21/10) + 'px'}" :key="item.index1"  v-for="item in selectitem.paragraphmore">
                                                                   <div :class="item.class" >{{item.data | translate}}</div>
                                                            </li>
                                                      </ul>
                                               </div>
                                     </div>
                              </div>
                        </div>
                      </div>
                  </div>
            </div>
      </div>
</template>
<script src="./WebWorkContent.js"></script>
<style src="./WebWorkContent.css"></style>
