.workcontent
{
  min-height: 1000px;
  background-position:top center !important;
  background-color: white;
  background-size:contain !important;
  /* margin-top: -6%; */
}

.class1
{
  color:black;
  position: relative;
  text-align: center;
  padding: 5% 0px 15% 0px;
}

.categoryimg
{
  width:8rem;
}

.listfont
{
  font-weight: 700;
  margin-top: -15px;
  font-size: 1.2rem;
}

.relative
{
  position: relative;
}

.index{
  color:#ed1e23;
  font-size: 30rem;
  font-weight: bold;
  opacity: 0.3;
  width: 100%;
  margin-left:5px;
  position: absolute;
  letter-spacing: 50px;
  top: -50px;
  text-align: center;
}

.imgbox
{
  padding-left: 6.5%
}

.imgbgbox
{
position: absolute;
right: -10%;
}

.titlework
{
  color:#ed1e23;
  text-align: center;
  text-transform: uppercase;
  font-size:1.6rem;
  width: 100%;
  font-weight: bold;
  margin-top: 5px;
}

.paragraphtitle
{
  font-size: 1.5rem;
  padding-right: 25px;
  color:black;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fadeinimg
{
  opacity:0;
  animation-name: hide, flipInY;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -moz-animation-name: hide, flipInY;
  -moz-animation-duration:  1.5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, flipInY;
  -webkit-animation-duration:  1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, flipInY;
  -o-animation-duration: 1.5s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
}

.fadeinimg:nth-child(1)
{
  animation-delay: 0s, 0.5s;
  -moz-animation-delay: 0s, 0.5s;
  -webkit-animation-delay: 0s, 0.5s;
  -o-animation-delay: 0s, 0.5s
}

.fadeinimg:nth-child(2)
{
  animation-delay: 0s, 1s;
  -moz-animation-delay: 0s, 1s;
  -webkit-animation-delay: 0s, 1s;
  -o-animation-delay: 0s, 1s;
}

.fadeinimg:nth-child(3)
{
  animation-delay: 0s, 1.5s;
  -moz-animation-delay: 0s, 1.5s;
  -webkit-animation-delay: 0s, 1.5s;
  -o-animation-delay: 0s, 1.5s;
}
.fadeinimg:nth-child(4)
{
  animation-delay: 0s, 1.8s;
  -moz-animation-delay: 0s, 1.8s;
  -webkit-animation-delay: 0s, 1.8s;
  -o-animation-delay: 0s, 1.8s;
}

.parag
{
  color: black;
  padding-right: 25px;
  padding-inline-start: 0px;
}

.parag li{
  color:black;
  text-align: left;
  display: list-item;
  margin:0px;
  padding-top: 20px;
  letter-spacing: 1px;
  font-size: 1rem;
}

.parag li:hover{
  color:black;

}

.bold
{
  font-weight: 790;
  text-transform: uppercase;
  font-size:1.6rem;
  letter-spacing: 1px;
}


.bold1
{
  font-weight: 790;
  text-transform: uppercase;
  font-size:1.6rem;
  margin-top: 20px;
  letter-spacing: 1px;
}

.color{
  padding-inline-start: 0px;
}

.paraglvl2
{
  color: black;
  padding-right: 0px;
  padding-inline-start: 0px;
}

.paraglvl2 li{
  color:black;
  text-align: left;
  display: list-item;
  margin:0px;
  padding-top: 20px;
  letter-spacing: 1.5px;
  font-size: 1rem;
}
.paraglvl2 li:first-child{
padding-top: 0px;
}

.paraglvl2 li:hover{
  color:black;

}


.a_left
{
position: absolute;
left:0;
top:280px;
z-index: 52;
font-size: 3rem;
color: #ed1e23;
}

.a_right
{
  position: absolute;
  right:0;
  z-index: 52;
  top:280px;
  font-size: 3rem;
  color: #ed1e23;
}

.spaceleft
{
margin: 0;
position: absolute;
padding-left: 5px;
top:0;
}

.imgbox
{
  padding: 15px 25px 15px 6.5%;
}



.animate1
{
  animation-name: hide, bounceIn;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -moz-animation-name: hide, bounceIn;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, bounceIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, bounceIn;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: 1;
}


.animate2
{
  animation-name: hide, fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  animation-delay: 0s, 0.5s;
  -moz-animation-delay: 0s, 0.5s;
  -webkit-animation-delay: 0s, 0.5s;
  -o-animation-delay: 0s, 0.5s;
}

.animate3
{
  animation-name: hide, slideInLeft1;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, slideInLeft1;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, slideInLeft1;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, slideInLeft1;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  animation-delay: 0s, 1s;
  -moz-animation-delay: 0s, 1s;
  -webkit-animation-delay: 0s, 1s;
  -o-animation-delay: 0s, 1s;
}

.animate4
{
  animation-name: hide, slideInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, slideInRight;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, slideInRight;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, slideInRight;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  animation-delay: 0s, 1s;
  -moz-animation-delay: 0s, 1s;
  -webkit-animation-delay: 0s, 1s;
  -o-animation-delay: 0s, 1s;
}

.firstw
{
  position: relative;
  z-index: 54;
}

.secondw
{
  position: absolute;
  z-index: 55;
  left: 0;
  top:0;
}

.thirdw
{
  position: absolute;
  z-index: 56;
  left: 0;
  top:-10px;
}

.animatefw
{
  animation-name: hide, fadeIn;
  animation-duration: 2.5s;
  animation-timing-function:ease-in;
  animation-iteration-count:3s;
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2.5s;
  -moz-animation-timing-function:ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2.5s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  animation-delay: 0s, 2s;
  -moz-animation-delay: 0s, 2s;
  -webkit-animation-delay: 0s, 2s;
  -o-animation-delay: 0s, 2s;
}

.animatesw
{
  animation-name: hide, zoomIn;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, zoomIn;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, zoomIn;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, zoomIn;
  -o-animation-duration: 3s;
  -o-animation-timing-function:ease-in;
  -o-animation-iteration-count: 1;
  animation-delay: 0s, 2.5s;
  -moz-animation-delay:  0s, 2.5s;
  -webkit-animation-delay: 0s, 2.5s;
  -o-animation-delay:  0s, 2.5s;
}


.animatelw
{
  animation-name: hide, bounceIn;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, bounceIn;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, bounceIn;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, bounceIn;
  -o-animation-duration: 3s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  animation-delay: 0s, 2.5s;
  -moz-animation-delay:  0s, 2.5s;
  -webkit-animation-delay: 0s, 2.5s;
  -o-animation-delay:  0s, 2.5s;
}

.animate5
{
  animation-name: hide, fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  animation-delay: 0s, 2s;
  -moz-animation-delay: 0s, 2s;
  -webkit-animation-delay: 0s, 2s;
  -o-animation-delay: 0s, 2s;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes slideInLeft1 {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft1 {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {

    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {

    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes hide
{
    from { opacity: 0; } to { opacity: 0 }
}
@-moz-keyframes hide
{
    from { opacity: 0; } to { opacity: 0 }
}
@-webkit-keyframes hide
{
    from { opacity: 0; } to { opacity: 0 }
}
@-o-keyframes hide
{
    from { opacity: 0; } to { opacity: 0 }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
