.DesignerContainerPart1 {
  /* max-height: 900px; */
  /* min-height: 900px; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 1.5rem 0;
}

.DesignerContainerPart2 {
  /* max-height: 900px; */
  /* min-height: 900px; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffe7e7;
  padding: 1.5rem 0;
}

.Designer .titlepart2 {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  /* animation: type 3s steps(60, end); */
}

.Designer .designer_text2 {
  width: 100%;
}

.Designer .designertitle2 {
  color: black;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 20px;
}

.Designer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.Designer ul li:before {
  content: '-';
  margin-left: -15px;
  margin-right: 8px;
}

.Designer li {
  display: block;
  margin: 8px 0;
  margin-left: 15px;
}

.Designer li:last-child {
  margin-bottom: 0;
}

.Designer li:hover {
  color: #212529;
  cursor: text;
}

.Designer .btn-submit {
  visibility: visible;
  margin-top: 3rem;
  text-align: left;
  padding: 10px;
  border: 2px solid #ed1e23;
  color: #ed1e23;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.Designer .btn-submit .svg-inline--fa {
  float: right;
  position: absolute;
  right: 10px;
  top: 12px;
}

.Designer .btn-submit:hover {
  color: white;
  background-color: #ed1e23;
}

.Designer .joinusbtn {
  margin-top: 3rem;
  background-color: transparent;
  border: 1px solid red;
  padding: 5px 10px 5px 10px;
  color: red;
  position: relative;
  width: 200px;
  z-index: 50;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  text-align: left;
}

.imagespin {
  position: absolute;
  top: 6%;
  right: 5%;
  width: 500px;
  height: 500px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 10s linear infinite;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.Designer .blackbox {
  position: absolute;
  background-color: black;
  opacity: 1;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  display: none;
  width: 100%;
  -webkit-animation: rotateIn 0.2s linear;
  -moz-animation: rotateIn 0.2s linear;
  animation: rotateIn 0.2s linear;
}

.Designer .joinusbtn:hover {
  border: 0px;
  color: white;
}

.Designer .joinusbtn:hover .blackbox {
  display: block;
}

a:not([href]) {
  border: 4px solid white;
  color: white;
  display: inline-block;
  margin-top: 5%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  z-index: 99;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

a:not([href]) .label {
  color: white;
}

a:not([href]) .label,
a:not([href]) .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}



a:not([href]) .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a:not([href]) .label:hover {
  color: white;
}

a:not([href]):hover {
  color: white;
  background-color: #ed1f24 !important;

}

a:not([href]) .icon-arrow {
  fill: white;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

a:not([href]) .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

a:not([href]) .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

a:not([href]):hover .label {
  transform: translateX(-52px);
  color: white;
}

a:not([href]):hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

a:not([href]):hover .icon-arrow.after {
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

a:not([href]):active {
  border-color: #FD6154;
  color: #FD6154;
}

a:not([href]):active .icon-arrow {
  fill: #FD6154;
}

.b:not([href]) {
  border: 4px solid black;
  color: black !important;
  display: inline-block;
  margin-top: 5%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  z-index: 99;
  margin: auto;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;
}

.b:not([href]) .label {
  color: black;
}

.b:not([href]) .label,
.b:not([href]) .icon-arrow {
  backface-visibility: hidden;
  transform: translateZ(0);
  perspective: 1000;
}



.b:not([href]) .label {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.b:not([href]) .label :hover {
  color: white;
}

.b:hover {
  color: white;
  background-color: #ed1f24 !important;
  border: 4px solid white;
}

.b:not([href]) .icon-arrow {
  fill: black;
  height: 15px;
  top: 17px;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
  width: 35px;
}

.b:not([href]) .icon-arrow.before {
  left: 32px;
  margin-right: 15px;
  position: absolute;
  transform-origin: left center;
}

.b:not([href]) .icon-arrow.after {
  margin-left: 15px;
  opacity: 0;
  position: absolute;
  right: 32px;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: right center;
}

.b:not([href]):hover .label {
  transform: translateX(-52px);
  color: white;
}

.b:not([href]):hover .icon-arrow.before {
  opacity: 0;
  transform: translateX(-75%) scaleX(0.1);
}

.b:not([href]):hover .icon-arrow.after {
  fill: white;
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

.b:not([href]):active {
  border-color: #FD6154;
  color: #FD6154;
}

.b:not([href]):active .icon-arrow {
  fill: #FD6154;
}

@media (max-width: 767px){
  .Designer .titlepart2{
    white-space: normal;
  }
}
