<template>
  <div class="Designer">
    <div class="whitebg">
      <div class="DesignerContainerPart1">
        <div class="container">
          <div class="titlepart2" data-aos="slide-up" data-aos-easing="ease">
            Web Designer
          </div>
        </div>
      </div>
      <div class="DesignerContainerPart1">
        <div class="container">
          <div class="designer_box" data-aos="slide-up" data-aos-easing="ease">
            <div class="designer_text2">
              <h4 class="designertitle2">Responsibilities</h4>
              <ul>
                <li>Create, design and modify websites to suit the requirements.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="DesignerContainerPart1">
        <div class="container">
          <div class="designer_box mb-3" data-aos="slide-up" data-aos-easing="ease">
            <div class="designer_text2">
              <h4 class="designertitle2">Requirements</h4>
              <ul>
                <li>Candidate must possess at least Diploma/Advanced/Higher/Graduate Diploma in Art/Design/Creative Multimedia or equivalent.</li>
                <li>At least 1 Year(s) of working experience in the related field is required for this position.</li>
                <li>Required Skill(s): HTML, CSS, Java Script, Illustrator, photoshop</li>
                <li>Preferably Junior Executive specialized in Arts/Creative/Graphics Design or equivalent.</li>
                <li>Please provide your portfolio.</li>
              </ul>
            </div>
          </div>
          <div class="row" data-aos="slide-up" data-aos-easing="ease">
            <div class="col-12 col-md-4 col-xl-3">
              <router-link to="/jobs/apply">
              <a class="b" data-aos="slide-up" data-aos-easing="ease" >
                                 <svg class="icon-arrow before">
                                      <use xlink:href="#arrow"></use>
                                 </svg>
                                 <span class="label">Apply Now</span>
                                 <svg class="icon-arrow after">
                                        <use xlink:href="#arrow"></use>
                                 </svg>
                            </a>
                            <svg style="display: none;">
                                 <defs>
                                      <symbol id="arrow" viewBox="0 0 35 15">
                                                 <title>Arrow</title>
                                                 <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                                        </symbol>
                                  </defs>
                             </svg>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./DesignerContent.js"></script>
<style src="./DesignerContent.css"></style>
