<template>
        <div class="mainbgwork">
                    <div v-bind:class="{ hidebox:modalOpen,showmodal1:isopen===0}">
                          <div class="webfix">
                                <div class="container relative">
                                          <div v-if="device===1"><mega-menu /></div>
                                          <div v-if="device===0"><phone-menu /></div>
                                </div>
                          </div>
                          <div class="relative">
                                <TopBanner v-bind:page_title="page_title" v-bind:items="items" />
                                <div class="webcontentwork" v-if="device===1"><WebWorkContent /></div>
                                <div class="phoneontentwork" v-if="device===0"><PhoneWorkContent /></div>
                               <SubFooter/>
                                <div v-if="device===1"><WebFooter /></div>
                                <div v-if="device===0"><PhoneFooter /></div>
                                    <div v-if="device===0" @click="scrollToTop()" class="backtotopbtn">
                                    <i class="fas fa-arrow-up"></i>
                                    </div>
                          </div>
                    </div>
                    <div v-if="device===1"><WebMenuBar  v-show="modalOpen" v-bind:class="{ showmodal:modalOpen,hidebox1:isopen===0}"/></div>
                    <div v-if="device===0"><PhoneSideBar v-show="modalOpen" v-bind:class="{ showmodal:modalOpen,hidebox1:isopen===0}"/></div>
          </div>
</template>
<script src="./Work.js"></script>
<style src="./Work.css"></style>
