<template>
        <div class="mainbg">
    <vue-headful title="Techmedia"></vue-headful>
                    <div v-bind:class="{ hidebox:modalOpen,showmodal1:isopen===0}">
                          <div class="webfix">
                                <div class="container relative">
                                          <div v-if="device===1"><MegaMenu /></div>
                                          <div v-if="device===0"><PhoneMenu /></div>
                                </div>
                          </div>
                          <div class="relative">
                                <div class="webcontent" v-if="device===1"><WebHomeContent /></div>
                                <div class="phoneontent" v-if="device===0"><PhoneHomeContent /></div>
                                <SubFooter/>
                                <div v-if="device===1"><WebFooter /></div>
                                <div v-if="device===0"><PhoneFooter /></div>
                                <div v-if="device===0" @click="scrollToTop()" class="backtotopbtn">
                                         <i class="fas fa-arrow-up"></i>
                                </div>
                          </div>
                    </div>
                    <div v-if="device===1"><WebMenuBar  v-show="modalOpen" v-bind:class="{ showmodal:modalOpen,hidebox1:isopen===0}"/></div>
                    <div v-if="device===0"><PhoneSideBar v-show="modalOpen" v-bind:class="{ showmodal:modalOpen,hidebox1:isopen===0}"/></div>
                    <modal v-if="device===0" v-show="isModalVisible" @close="closeModal" />
          </div>
</template>
<script src="./Home.js"></script>
<style src="./Home.css"></style>
