<template>
  <div class="Developer">
    <div class="whitebg">
      <div class="DeveloperContainerPart1">
        <div class="container">
          <div class="titlepart2" data-aos="slide-up" data-aos-easing="ease">
            PHP Developer
          </div>
        </div>
      </div>
      <div class="DeveloperContainerPart1">
        <div class="container">
          <div class="developer_box" data-aos="slide-up" data-aos-easing="ease">
            <div class="developer_text2">
              <h4 class="developertitle2">Responsibilities</h4>
              <ul>
                <li>Create, design and modify websites to suit the requirements.</li>
                <li>Responsible for integrating the front-end elements built by your co-workers into the websites. </li>
                <li>Integration of user-facing elements developed by front-end developers.</li>
                <li>Build efficient, testable, and reusable PHP modules.</li>
                <li>Solve complex performance problems and architectural challenges</li>
                <li>Create and implement a robust set of services and APIs to power web applications</li>
                <li>Build reusable code that is optimized for maximum speed and scalability</li>
                <li>Bonus to have knowledge in mobile apps languages (androids/ iOS)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="DeveloperContainerPart2">
        <div class="container">
          <div class="developer_box" data-aos="slide-up" data-aos-easing="ease">
            <div class="developer_text2">
              <h4 class="developertitle2">Requirements</h4>
              <ul>
                <li>Candidate must possess at least Diploma/Advanced/Higher/Graduate Diploma, Bachelor's Degree Post Graduate Diploma/Professional Degree in Engineering ( Computer / Telecommunication ) or equivalent.</li>
                <li>Required language(s): Chinese, English (in order to liaise with Chinese speaking associates)</li>
                <li>At least 2 Years of working experience in the related field is required for this position.</li>
                <li>Required Skill(s): PHP, CSS, JQUERY, JavaScript, API, PHP Framework</li>
                <li>Preferably Junior Executive specialized in IT/Computer - Software or equivalent.</li>
                <li>English and Chinese bilingual (Due to content provided from Chinese speaking Customer)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="DeveloperContainerPart1">
        <div class="container">
          <div class="developer_box mb-3" data-aos="slide-up" data-aos-easing="ease">
            <div class="developer_text2">
              <h4 class="developertitle2">Additional Skill Sets</h4>
              <h6>PHP</h6>
              <ul>
                <li>Develop web programs using PHP</li>
                <li>Programming in PHP, PHP MVC Frameworks, MySql.</li>
                <li>Able to develop backend for a web structure.</li>
                <li>API Integration</li>
                <li>YII Frameworks</li>
              </ul>
              <h6 class="mt-3">HTML</h6>
              <ul>
                <li>Have advance knowledge in mobile responsive web. (HTML 5, CSS 3)</li>
                <li>Knowledge in jQuery, Java Script (an add-on advantage)</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4 col-xl-3">
              <router-link to="/jobs/apply">
              <a class="b" data-aos="slide-up" data-aos-easing="ease" >
                                 <svg class="icon-arrow before">
                                      <use xlink:href="#arrow"></use>
                                 </svg>
                                 <span class="label">Apply Now</span>
                                 <svg class="icon-arrow after">
                                        <use xlink:href="#arrow"></use>
                                 </svg>
                            </a>
                            <svg style="display: none;">
                                 <defs>
                                      <symbol id="arrow" viewBox="0 0 35 15">
                                                 <title>Arrow</title>
                                                 <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                                        </symbol>
                                  </defs>
                             </svg>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./DeveloperContent.js"></script>
<style src="./DeveloperContent.css"></style>
