<template>
<div class="PhoneJobs">
  <div class="PhoneJobsContainerPart1">
        <div class="container">
          <div class="titlepart2">
            Best Jobs For You
          </div>
        </div>
      </div>
    <div class="PhoneJobsContainerPart2 HomeContainerPart3" data-aos="slide-up" data-aos-easing="ease">
            <div class="container">
                <div class="imagespace">
                       <img class="img100" src="@/assets/img/bgimg/growtogther.png">
                </div>
                <div class="row mb-3">
                        <div class="col-12">
                            <div class="workwithustitlep"> Jobs </div>
                            <div class="workwithusfont"> Techmedia is a leading full service agency. To continue its growth, we are looking for new colleagues who want to use their enthusiasm and expertise to help build the digital ambitions of our clients. Discover our jobs, send us your resume and we will contact you! </div>
                        </div>
                </div>
                <div class="row mb-3">
                        <div class="col-12">
                            <div class="workwithustitlep"> Current vacancies </div>
                            <div class="workwithusfont"> We are currently looking for the following motivated new colleagues. See yourself in one of these positions, or know anyone who would fit the description? Please send us your resume or share the job!  </div>
                        </div>
                </div>
            </div>
    </div>
    <div class="PhoneJobsContainerPart3">
          <div class="pink_bg">
            <div class="container">
              <div class="row custom-row">
                <div class="col-12 col-sm-6 mb-3">
                  <router-link to="/jobs/developer">
                  <div class="web developer"  data-aos="slide-up" data-aos-easing="ease">
            <img src="@/assets/img/bgimg/developericon.png">
            <div class="title">
              PHP Developer
            </div>
          </div>
          </router-link>
                </div>
                <div class="col-12 col-sm-6">
                  <router-link to="/jobs/designer">
                  <div class="web designer"  data-aos="slide-up" data-aos-easing="ease">
            <img src="@/assets/img/bgimg/designericon.png">
            <div class="title">
              Web Designer
            </div>
          </div>
          </router-link>
                </div>
              </div>
              <div class="row custom-row">
                <div class="col-12">
                  <div class="workwithustitle" data-aos="slide-up" data-aos-easing="ease">
              Recruitment reserve
              </div>
            <div class="workwithusfont"  data-aos="slide-up" data-aos-easing="ease">
              For the following jobs there might not be a vacancy, maybe not at this very moment, but that may soon change. Who sends us his resume, will be contacted before all others when there's an opening!
              </div>
                </div>
              </div>
              <div class="row custom-row">
                <div class="col-12">
                  <div class="workwithustitle" data-aos="slide-up" data-aos-easing="ease">
              Spontaneous application
              </div>
            <div class="workwithusfont"  data-aos="slide-up" data-aos-easing="ease">
              Do you think that you can be an asset to our team, then send us your resume asap!
              </div>
                </div>
              </div>
        <div class="row">
          <div class="col-12">
           <div>
             <router-link to="/jobs/apply">
                <a class="b">
                    <svg class="icon-arrow before">
                        <use xlink:href="#arrow"></use>
                    </svg>
                    <span class="label">Apply Now</span>
                    <svg class="icon-arrow after">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </a>
                <svg style="display: none;">
                            <defs>
                              <symbol id="arrow" viewBox="0 0 35 15">
                                      <title>Arrow</title>
                                      <path d="M27.172 5L25 2.828 27.828 0 34.9 7.071l-7.07 7.071L25 11.314 27.314 9H0V5h27.172z "/>
                              </symbol>
                            </defs>
                          </svg>
                          </router-link>
     </div>
          </div>
        </div>
            </div>
          </div>
    </div>
</div>
</template>
<script src="./PhoneJobsContent.js"></script>
<style src="./PhoneJobsContent.css"></style>
