.HomeContainerPart1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-position: bottom center;

}

.PhoneJobsContainerPart2{
  margin-bottom: 50px;
}

.HomeContainerPart2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;

}

.HomeContainerPart3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
  position: relative;

}

.HomeContainerPart4 {
  width: 100%;
  padding: 15% 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.HomeContainerPart5 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right;
  overflow: hidden;
  position: relative;
}

.HomeContainerPart6 {
  width: 100%;
  height: 100%;
}

label {
  margin-bottom: 0px;
}


.HomeContainerPart7 {
  padding: 15px 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.HomeContainerPart6inner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  position: relative;
}

.whitebg {
  background-color: white;
}

.HomeContainerPart1inner {
  position: absolute;
  z-index: 90;
  top: 0px;
}

.HomeContainerPart1inner img {
  width: 100%;
}

.overbox {
  overflow: hidden;
  position: relative;
}

.imagespace {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 10px;
}

.title1 {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 10% 0% 5% 0px;
  font-weight: bold;
}

.PhoneJobs .titlepart2 {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  width: 100%;
  -webkit-animation: fadeInUp 0.2s linear;
  -moz-animation: fadeInUp 0.2s linear;
  animation: fadeInUp 0.2s linear;
}

.titlepart3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-animation: fadeInUp 0.2s linear;
  -moz-animation: fadeInUp 0.2s linear;
  animation: fadeInUp 0.2s linear;
}


@keyframes type {
  from {
    width: 0;
  }
}

.titlepart4phone {
  color: #ed1f24;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-top: 0px;
  letter-spacing: 2px;
  transform: scale(1.2);
  font-weight: bold;
  text-align: center;
  padding: 0px 10%;
  width: 100%;
  margin-bottom: 25px;
  animation: type 3s steps(60, end);
}

.box4spacing {
  height: 50px;
}

.listtitle {
  color: white;
  font-size: 1rem !important;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.listitem {
  color: white;
  font-size: 12px;

}

.listitem li {
  margin: 10px 0px;
  display: list-item;

}

.paragraph {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  letter-spacing: 0.5px;

}

.overflox_hide {
  overflow-x: scroll;
  overflow-y: hidden;
}

.phoneleft {
  position: absolute;
  left: 5%;
  font-size: 2rem;
  z-index: 55;
  top: 57%;
  color: white
}

.phoneright {
  position: absolute;
  font-size: 2rem;
  right: 5%;
  z-index: 55;
  top: 57%;
  color: white;
}


.carousel-control-next {
  right: -15px;
  background: rgba(0, 0, 0, .3);
  height: 100px;
  color: white;
  top: 30%;
}

.carousel-control-next::before {
  right: -15px;
  background: rgba(0, 0, 0, .3);
  height: 100px;
  color: white;
  top: 30%;
}

.carousel-control-next:hover {

  background: #ed1f24;
}

.carousel-control-prev {
  left: -15px;
  background: rgba(0, 0, 0, .3);
  height: 100px;
  top: 30%;
}

.carousel-control-prev:hover {

  background: #ed1f24;
}

.pink_bg {
  background-image: url('../../assets/img/bgimg/pinkbg.png');
  background-size: cover;
  padding: 50px 0;
  background-repeat: no-repeat;
}

.PhoneJobs .pink_bg .workwithustitle {
  font-size: 2rem;
}

.PhoneJobs .pink_bg .workwithusfont{
  color: black;
}

.PhoneJobs .pink_bg .custom-row {
  margin-bottom: 50px;
}

.PhoneJobs .web {
  height: 250px;
  width: 100%;
  text-align: center;
  padding-top: 75px;
}

.PhoneJobs .web:hover{
  box-shadow: 10px 5px 15px black;
}

.PhoneJobs .web .title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 15px;
}

.PhoneJobs .web.developer {
  background-image: url('../../assets/img/bgimg/developerbg.png');
  background-size: cover;
  background-position: center;
}

.PhoneJobs .web.designer {
  background-image: url('../../assets/img/bgimg/designerbg.png');
  background-size: cover;
  background-position: center;
}

.PhoneJobs .web img {
  width: 15%;
  height: auto;
}

.productbox {
  margin-top: 40px;
  width: 3500px;
  height: 550px;
}

.productboxinnerimg {
  width: 100%;
}

.productboxinner {
  width: 100%;
  transform-style: preserve-3d;
  position: relative;
  float: left;
  -webkit-box-shadow: 20px 20px 26px 0px rgba(173, 152, 155, 1);
  -moz-box-shadow: 20px 20px 26px 0px rgba(173, 152, 155, 1);
  box-shadow: 20px 20px 26px 0px rgba(173, 152, 155, 1);
}

.productboxinner:nth-child(even) {
  margin-top: 4%;
}
.productTitlepage {
  z-index: 55;
  width: 120px;
  position: absolute;
  bottom: 10px;
  left: -12%;
}


.productboxinner:hover .fonttitleproduct {
  background-color: #ed1f24;
  color: white;
}


.fontnoramproduct {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.fonttitleproduct {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fonticonproduct {
  width: 100%;
  left: -10px;
  position: relative;
}

.PhoneJobs .workwithustitlep {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.workwithusfont {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.woekwithusimagebox {
  position: absolute;
  width: 48%;
  top: 15%;
  right: -25px;
}


.workwithusredbg {
  position: relative;
  width: 100%;
  top: 50px;
  left: -25px;
  z-index: 49;
  height: 100%;
  animation-name: hide, slideIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  opacity: 1;
  animation-delay: 0s, 0s;
  -moz-animation-delay: 0s, 0s;
  -webkit-animation-delay: 0s, 0s;
  -o-animation-delay: 0s, 0s;
}

.workwithusimage {
  position: absolute;
  top: 1px;
  z-index: 51;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, slideInRight;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, slideInRight;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, slideInRight;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  opacity: 1;
  animation-delay: 0s, 2s;
  -moz-animation-delay: 0s, 2s;
  -webkit-animation-delay: 0s, 2s;
  -o-animation-delay: 0s, 2s;

}


.joinusbtn {
  margin-top: 5%;
  background-color: transparent;
  border: 1px solid red;
  padding: 5px 10px 5px 10px;
  color: red;
  position: relative;
  width: 200px;
  z-index: 50;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  text-align: left;
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

li:hover {
  color: #ed1f24;
  cursor: pointer;
}

.blackbox {
  position: absolute;
  background-color: black;
  opacity: 1;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  display: none;
  width: 100%;
  -webkit-animation: rotateIn 0.2s linear;
  -moz-animation: rotateIn 0.2s linear;
  animation: rotateIn 0.2s linear;
}

.joinusbtn:hover {
  border: 0px;
  color: white;
}

.joinusbtn:hover .blackbox {
  display: block;
}

.contactdetailfont {
  margin-top: 5px;
}

.contactdetailfont1 {
  margin-top: 10px;
}

.reservetitle {
  color: white;
  letter-spacing: 0px;
  font-size: 12px;
}

.f-space {
  margin: 0px 2.5px;
}

.form-control {
  animation-name: hide, slideIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, fadeIn;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, fadeIn;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, fadeIn;
  -o-animation-duration: 2s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  opacity: 1;
}

.floatinup1 {
  -webkit-animation: fadeInUp 0.2s linear;
  -moz-animation: fadeInUp 0.2s linear;
  animation: fadeInUp 0.2s linear;
}

.floatinup2 {
  -webkit-animation: fadeInUp 0.4s linear;
  -moz-animation: fadeInUp 0.4s linear;
  animation: fadeInUp 0.4s linear;
}

.floatinup3 {
  -webkit-animation: fadeInUp 0.6s linear;
  -moz-animation: fadeInUp 0.6s linear;
  animation: fadeInUp 0.6s linear;
}

.floatinup4 {
  -webkit-animation: fadeInUp 0.8s linear;
  -moz-animation: fadeInUp 0.8s linear;
  animation: fadeInUp 0.8s linear;
}

.floatinup5 {
  -webkit-animation: fadeInUp 1s linear;
  -moz-animation: fadeInUp 1s linear;
  animation: fadeInUp 1s linear;
}

.floatinup6 {
  -webkit-animation: fadeInUp 1s linear;
  -moz-animation: fadeInUp 1s linear;
  animation: fadeInUp 1s linear;
}

.floatinup7 {
  -webkit-animation: fadeInUp 1.2s linear;
  -moz-animation: fadeInUp 1.2s linear;
  animation: fadeInUp 1.2s linear;
}

.floatinup8 {
  -webkit-animation: fadeInUp 1.4s linear;
  -moz-animation: fadeInUp 1.4s linear;
  animation: fadeInUp 1.4s linear;
}

.floatinup9 {
  -webkit-animation: fadeInUp 1.6s linear;
  -moz-animation: fadeInUp 1.6s linear;
  animation: fadeInUp 1.6s linear;
}

.floatinup10 {
  -webkit-animation: fadeInUp 1.8s linear;
  -moz-animation: fadeInUp 1.8s linear;
  animation: fadeInUp 1.8s linear;
}

.floatinup11 {
  -webkit-animation: fadeInUp 2s linear;
  -moz-animation: fadeInUp 2s linear;
  animation: fadeInUp 2s linear;
}

.floatinup12 {
  -webkit-animation: fadeInUp 2.2s linear;
  -moz-animation: fadeInUp 2.2s linear;
  animation: fadeInUp 2.2s linear;
}

.floatinup13 {
  -webkit-animation: fadeInUp 2.4s linear;
  -moz-animation: fadeInUp 2.4s linear;
  animation: fadeInUp 2.4s linear;
}

.floatinup14 {
  -webkit-animation: fadeInUp 2.6s linear;
  -moz-animation: fadeInUp 2.6s linear;
  animation: fadeInUp 2.6s linear;
}

.floatinup15 {
  -webkit-animation: fadeInUp 2.8s linear;
  -moz-animation: fadeInUp 2.8s linear;
  animation: fadeInUp 2.8s linear;
}

.floatinup16 {
  -webkit-animation: fadeInUp 3s linear;
  -moz-animation: fadeInUp 3s linear;
  animation: fadeInUp 3s linear;
}

.floatinup17 {
  -webkit-animation: fadeInUp 3.2s linear;
  -moz-animation: fadeInUp 3.2s linear;
  animation: fadeInUp 3.2s linear;
}

.floatinup18 {
  -webkit-animation: fadeInUp 3.2s linear;
  -moz-animation: fadeInUp 3.2s linear;
  animation: fadeInUp 3.2s linear;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.contacttitle2 {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: 20px 0px;
}

.form-check-input {
  position: absolute !important;
  right: 0;
  background-color: #ed1f24;
  color: white;
}

.form-check-inline {
  color: #ed1f24;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  width: 100%;
}

.spacinginside {
  padding: 0% 5% 5% 5%;
}

.form-check-input:hover {
  background-color: #ed1f24;
}

/* When the checkbox is checked, add a blue background */
.form-check-input::selection {
  background-color: #ed1f24;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Spinning, gradient circle; CSS only! */
#advanced {
  width: 700px;
  height: 700px;
  top: -45%;
  left: 25%;
  z-index: 25;
  border: 1px solid red;
  position: absolute;
  background-color: transparent;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

  animation-name: spin;
  animation-duration: 8s;
  /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Spinning, gradient circle; CSS only! */
#advanced1 {
  width: 700px;
  height: 700px;
  bottom: -15%;
  right: -20%;
  z-index: 25;
  border: 1px solid red;
  position: absolute;
  background-color: transparent;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);

  animation-name: spin;
  animation-duration: 12s;
  /* 3 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.imagespin {
  position: absolute;
  top: 25%;
  right: -50%;
  width: 400px;
  height: 400px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 10s linear infinite;
}


.part3height {
  height: 500px;
}

.gobtn {
  margin-top: 10%;
  background-color: transparent !important;
  border: 1px solid white;
  padding: 5px 10px 5px 10px;
  color: white;
  width: 200px;
  text-align: left;
  position: relative;
  z-index: 99;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  text-align: left;
}

.gobtn:hover {
  border: 0px;
  color: white;
}

.gobtn:hover .blackbox {
  display: block;
}

.productboxitem {
  padding: 20px;
  height: 100px;
}


@media (min-width: 768px) {
  .phoneleft {
    font-size: 3rem;
    top: 57%;

  }

  .phoneright {
    font-size: 3rem;
    top: 57%;
  }

}

@media (min-width: 1024px) {
  .phoneleft {
    font-size: 3rem;
    top: 59%;

  }

  .phoneright {
    font-size: 3rem;
    top: 59%;
  }

}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 0
  }
}

@-moz-keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 0
  }
}

@-o-keyframes hide {
  from {
    opacity: 0;
  }

  to {
    opacity: 0
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
  background-color: #555;
}
